{% extends 'base.html.twig' %}

{% block title %}PositionCode index{% endblock %}

{% block body %}
    <h1>PositionCode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for position_code in position_codes %}
            <tr>
                <td>{{ position_code.id }}</td>
                <td>{{ position_code.code }}</td>
                <td>
                    <a href="{{ path('app_position_code_show', {'id': position_code.id}) }}">show</a>
                    <a href="{{ path('app_position_code_edit', {'id': position_code.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_position_code_new') }}">Create new</a>
{% endblock %}
