{% extends 'base.html.twig' %}

{% block title %}StudentParent{% endblock %}

{% block body %}
    <h1>StudentParent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student_parent.id }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ student_parent.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student_parent.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ student_parent.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_student_parent_index') }}">back to list</a>

    <a href="{{ path('app_student_parent_edit', {'id': student_parent.id}) }}">edit</a>

    {{ include('student_parent/_delete_form.html.twig') }}
{% endblock %}
