{% extends 'base.html.twig' %}

{% block title %}EmployeeEducation index{% endblock %}

{% block body %}
    <h1>EmployeeEducation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Institution</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_education in employee_educations %}
            <tr>
                <td>{{ employee_education.id }}</td>
                <td>{{ employee_education.institution }}</td>
                <td>{{ employee_education.startDate ? employee_education.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_education.endDate ? employee_education.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_education.file }}</td>
                <td>
                    <a href="{{ path('app_employee_education_show', {'id': employee_education.id}) }}">show</a>
                    <a href="{{ path('app_employee_education_edit', {'id': employee_education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_education_new') }}">Create new</a>
{% endblock %}
