{% extends 'base.html.twig' %}

{% block title %}EmployeeEducation{% endblock %}

{% block body %}
    <h1>EmployeeEducation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee_education.id }}</td>
            </tr>
            <tr>
                <th>Institution</th>
                <td>{{ employee_education.institution }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ employee_education.startDate ? employee_education.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ employee_education.endDate ? employee_education.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ employee_education.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_education_index') }}">back to list</a>

    <a href="{{ path('app_employee_education_edit', {'id': employee_education.id}) }}">edit</a>

    {{ include('employee_education/_delete_form.html.twig') }}
{% endblock %}
