{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block body %}


    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-6">
                <h4> List of Sections in  <b><u> {{ grade }}</u>  </b></h4>
            </div>
            <div class="col-sm-6">
                <a style="float:right;" class="btn btn-outline-primary mr-1" href="{{ path('app_section_new') }}"> <i class="fa fa-plus"> </i> Create new</a>
                <a style="float:right;" class="btn btn-outline-primary mr-1" href="{{ path('app_grade_index') }}"> <i class="fa fa-arrow-left"> </i> Back</a>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <hr>
    

    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Section</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>  {{ section.grade.stream ?? '' }} {{ section.grade }} - {{ section.name }}</td>
            
                <td>{{ section.capacity ?? '-' }}</td>

                <td>
                    <div class="btn-group">
                    <a  class="btn btn-outline-secondary btn-sm mr-1" href="{{ path('app_section_show', {'id': section.id}) }}"> <i class="fa fa-users"> </i> Students </a>
                    <a  class="btn btn-outline-secondary btn-sm mr-1" href="{{ path('app_section_show', {'id': section.id}) }}"> <i class="fa fa-users"> </i> Teachers </a>
                    <a  class="btn btn-outline-secondary btn-sm mr-1" href="{{ path('app_section_edit', {'id': section.id}) }}"> <i class="fa fa-edit"> </i> Edit</a>
                    
                    {{ include('section/_delete_form.html.twig') }}
                    <div>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3" style=" color:red;" >No sections found !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
