{% extends 'base.html.twig' %}

{% block title %}EmployeeCategory index{% endblock %}

{% block body %}
    <h1>EmployeeCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ExpiredAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_category in employee_categories %}
            <tr>
                <td>{{ employee_category.id }}</td>
                <td>{{ employee_category.name }}</td>
                <td>{{ employee_category.expiredAt ? employee_category.expiredAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_employee_category_show', {'id': employee_category.id}) }}">show</a>
                    <a href="{{ path('app_employee_category_edit', {'id': employee_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_category_new') }}">Create new</a>
{% endblock %}
