{% extends 'base.html.twig' %}

{% block title %}ContractRange index{% endblock %}

{% block body %}
    <h1>ContractRange index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract_range in contract_ranges %}
            <tr>
                <td>{{ contract_range.id }}</td>
                <td>{{ contract_range.startDate ? contract_range.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract_range.endDate ? contract_range.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract_range.status }}</td>
                <td>
                    <a href="{{ path('app_contract_range_show', {'id': contract_range.id}) }}">show</a>
                    <a href="{{ path('app_contract_range_edit', {'id': contract_range.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contract_range_new') }}">Create new</a>
{% endblock %}
