{% extends 'base.html.twig' %}

{% block title %}ContractRange{% endblock %}

{% block body %}
    <h1>ContractRange</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contract_range.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ contract_range.startDate ? contract_range.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ contract_range.endDate ? contract_range.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ contract_range.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contract_range_index') }}">back to list</a>

    <a href="{{ path('app_contract_range_edit', {'id': contract_range.id}) }}">edit</a>

    {{ include('contract_range/_delete_form.html.twig') }}
{% endblock %}
