{% extends 'base.html.twig' %}

{% block title %}Ethnicity index{% endblock %}

{% block body %}
    <h1>Ethnicity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ethnicity in ethnicities %}
            <tr>
                <td>{{ ethnicity.id }}</td>
                <td>{{ ethnicity.name }}</td>
                <td>
                    <a href="{{ path('app_ethnicity_show', {'id': ethnicity.id}) }}">show</a>
                    <a href="{{ path('app_ethnicity_edit', {'id': ethnicity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ethnicity_new') }}">Create new</a>
{% endblock %}
