{% extends 'base.html.twig' %}

{% block title %}EmployeeLanguage index{% endblock %}

{% block body %}
    <h1>EmployeeLanguage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Speaking</th>
                <th>Reading</th>
                <th>Writing</th>
                <th>Listening</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_language in employee_languages %}
            <tr>
                <td>{{ employee_language.id }}</td>
                <td>{{ employee_language.speaking }}</td>
                <td>{{ employee_language.reading }}</td>
                <td>{{ employee_language.writing }}</td>
                <td>{{ employee_language.listening }}</td>
                <td>
                    <a href="{{ path('app_employee_language_show', {'id': employee_language.id}) }}">show</a>
                    <a href="{{ path('app_employee_language_edit', {'id': employee_language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_language_new') }}">Create new</a>
{% endblock %}
