{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}



     <!-- /.row -->
     {{ form_start(form, {'attr': {'id': 'form'}}) }}

     {{ form_errors(form) }}
     <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header" style="background-color: lightblue;">
              <h3 class="card-title"> <i class="fa fa-address-card" aria-hidden="true"></i> New Employee Registration </h3>
         </div>
            
        <div class="card-body p-0">
              <div class="bs-stepper">

                <div class="bs-stepper-header" role="tablist">

                  <!-- your steps here -->
                  <div class="step" data-target="#logins-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                      <span class="bs-stepper-circle">1</span>
                      <span class="bs-stepper-label"> <i class="fa fa-user-tie"> </i>  Basic Information</span>
                    </button>
                  </div>

                  <div class="line" ></div>

                  <div class="step" data-target="#logins-part2">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part2" id="logins-part2-trigger">
                      <span class="bs-stepper-circle">2</span>
                      <span class="bs-stepper-label"><i class="fa fa-flag"> </i> Job Information </span>
                    </button>
                  </div>

                  <div class="line"></div>

                  <div class="step" data-target="#logins-part3">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part3" id="logins-part2-trigger">
                      <span class="bs-stepper-circle">3</span>
                      <span class="bs-stepper-label"> <i class="fa fa-graduation-cap"> </i>   Educational Information</span>
                    </button>
                  </div>

                  <div class="line"></div>


                  <div class="step" data-target="#logins-part4">
                    <button type="button" class="step-trigger" role="tab" aria-controls="logins-part4" id="logins-part4-trigger">
                      <span class="bs-stepper-circle">4</span>
                      <span class="bs-stepper-label"> <i class="fa fa-user" aria-hidden="true"></i>  Contact information  </span>
                    </button>
                  </div>

                  <div class="line"></div>


                  <div class="step" data-target="#information-part">
                    <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                      <span class="bs-stepper-circle">5</span>
                      <span class="bs-stepper-label"> <i class="fa fa-list" aria-hidden="true"></i> Others </span>
                    </button>
                  </div>


                  <div class="step" data-target="#review">
                    <button type="button" class="step-trigger" role="tab" aria-controls="review" id="review-trigger">
                      <span class="bs-stepper-circle">6</span>
                      <span class="bs-stepper-label"> <i class="fa fa-check" aria-hidden="true"></i>  Summary </span>
                    </button>
                  </div>
              
              
        </div>

     
                <div class="bs-stepper-content ">
                  <!-- your steps content here -->
                  <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                      <label for="firstName"> First Name</label>
       

                      {{ form_widget(form.firstName,{'attr':{'class':'form-control','id':'firstName'}}) }} 
        
                    </div>

                    <div class="form-group">
                        <label for="fatherName"> Father Name</label>
                   
                        {{ form_widget(form.fatherName,{'attr':{'class':'form-control','id':'fatherName'}}) }} 

                      </div>

                      <div class="form-group">
                        <label for="lastName"> Grand father Name</label>
                   
                        {{ form_widget(form.lastName,{'attr':{'class':'form-control','id':'lastName'}}) }} 
                      </div>

                   

                    <div class="form-group">
                      <label for="gender">Gender </label>
               
                      {{ form_widget(form.gender,{'attr':{'class':'form-control select2','id':'gender'}}) }} 
                      
                    </div>

                    <div class="form-group">
                      <label for="employeeTitle">Employee title </label>
                  

                      {{ form_widget(form.employeeTitle,{'attr':{'class':'form-control select2','id':'employeeTitle'}}) }} 
                      
                    </div>

                    <div class="form-group">
                      <label for="ethnicity">Ethnicity </label>
                   
                      {{ form_widget(form.ethnicity,{'attr':{'class':'form-control select2','id':'ethnicity'}}) }} 
              
                      
                    </div>
                    
                    <div class="form-group">
                      <label for="religion">  Religion  </label>
                 
                      {{ form_widget(form.religion,{'attr':{'class':'form-control select2','id':'religion'}}) }} 
                      
                    </div>

                    <div class="form-group">
                      <label for="dateOfBirth">  Date of birth </label>
                 
                      <input type="text"  name="dateOfBirth" class="form-control" id="end" autocomplete="off">
                      
                    </div>
                    <a href="#" class="btn btn-primary  btn-sm float-right" onclick="stepper.next()"> <i class="fa fa-caret-right nav-icon"> </i> Next</a>
         </div>
         <div class="bs-stepper-content">
            <!-- your steps content here -->
            <div id="logins-part2" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
              <div class="form-group">
                <label for="position"> Postion </label>
                {{ form_widget(form.position,{'attr':{'class':'form-control select2','id':'position'}}) }} 


              </div>

                <div class="form-group">
                  <label for="employeeCategory"> Employee type </label>
                     {{ form_widget(form.employeeCategory,{'attr':{'class':'form-control select2','id':'employeeCategory'}}) }} 

                </div>

              <div class="form-group">
                <label for="employmentType">Employment type</label>
              
                {{ form_widget(form.employmentType,{'attr':{'class':'form-control select2','id':'employmentType'}}) }} 

              </div>

              <div class="form-group">
                <label for="martitalStatus">Marital status</label>
          
                {{ form_widget(form.martitalStatus,{'attr':{'class':'form-control select2','id':'martitalStatus'}}) }} 

              </div>
              <div class="form-group">
                <label for="employementDate"> Employement Date </label>
          
                {# {{ form_widget(form.employementDate,{'attr':{'class':'form-control','id':'employementDate'}}) }}  #}

                <input type="text"  name="employementDate" class="form-control" id="start" autocomplete="off">

              </div>
       

              <a href="#" class="btn btn-primary btn-sm  mr-1 float-right" onclick="stepper.next()"> <i class="fa fa-caret-right nav-icon"> </i>  Next</a>
               <a href="#" class="btn btn-primary btn-sm  mr-1 float-right" onclick="stepper.previous()"><i class="fa fa-caret-left nav-icon"> </i>  Previous </a>
             
                  
   </div>



   <div class="bs-stepper-content">
    <!-- your steps content here -->
    <div id="logins-part3" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
      <div class="form-group">
        <label for="educationallevel"> Current Educational Level </label>
        

        {{ form_widget(form.educationallevel,{'attr':{'class':'form-control select2','id':'educationallevel'}}) }} 

      </div>

      <div class="form-group">
          <label for="fieldOfStudy"> Field of study</label>
       
          {{ form_widget(form.fieldOfStudy,{'attr':{'class':'form-control select2','id':'fieldOfStudy'}}) }} 

        
        </div>

        <div class="form-group">
          <label for="institution"> Institution </label>
  
          {{ form_widget(form.institution,{'attr':{'class':'form-control','id':'institution'}}) }} 
        </div>


        <div class="form-group">
          <label for="employeeCurrentStatus"> Current status </label>
        
          {{ form_widget(form.employeeCurrentStatus,{'attr':{'class':'form-control select2','id':'  employeeCurrentStatus'}}) }} 
        </div>

      
        <a href="#" class="btn btn-primary btn-sm mr-1 float-right" onclick="stepper.next()"> <i class="fa fa-caret-right nav-icon"> </i>  Next</a>
        <a href="#" class="btn btn-primary btn-sm mr-1 float-right" onclick="stepper.previous()"><i class="fa fa-caret-left nav-icon"> </i>  Previous </a>

</div>




<div class="bs-stepper-content">
    <!-- your steps content here -->
    <div id="logins-part4" class="content" role="tabpanel" aria-labelledby="logins-part4-trigger">
      <div class="form-group">
        <label for="birthPlace"> Place of birth </label>
  
        {{ form_widget(form.birthPlace,{'attr':{'class':'form-control','id':'birthPlace'}}) }} 
      </div>

      <div class="form-group">
          <label for="phone">Phone </label>
                
        {{ form_widget(form.phone,{'attr':{'class':'form-control','id':'phone'}}) }} 

        </div>

        <div class="form-group">
          <label for="email">Email</label>
         
            
        {{ form_widget(form.email,{'attr':{'class':'form-control','id':'email'}}) }} 

        </div>

        <div class="form-group">
          <label for="nationality"> Nationality </label>
        
            
        {{ form_widget(form.nationality,{'attr':{'class':'form-control select2','id':'nationality'}}) }} 

        </div>

        <a href="#" class="btn btn-primary btn-sm  mr-1 float-right" onclick="stepper.next()"> <i class="fa fa-caret-right nav-icon"> </i>  Next</a>
        <a href="#" class="btn btn-primary btn-sm mr-1 float-right" onclick="stepper.previous()"><i class="fa fa-caret-left nav-icon"> </i>  Previous </a>

</div>



<div class="bs-stepper-content">
    <!-- your steps content here -->
  
    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">



      <div class="form-group">
  
        <label for="exampleInputFile">Photo </label>

        <div class="custom-file">
       
          {{ form_widget(form.photo,{'attr':{'class':'custom-file-input'}}) }} 
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
      <div class="form-group">
      </div>




    <div class="form-group">
      <label for="exampleInputEmail1"> Fist Name(በአማርኛ)</label>
         {{ form_widget(form.firstNameAm,{'attr':{'class':'form-control','id':'firstNameAm'}}) }} 

    </div>

    <div class="form-group">
      <label for="exampleInputEmail1"> Father Name(በአማርኛ)</label>
   

      {{ form_widget(form.fatherNameAm,{'attr':{'class':'form-control','id':'fatherNameAm'}}) }} 
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1"> Last Name(በአማርኛ)</label>
    
      {{ form_widget(form.lastNameAm,{'attr':{'class':'form-control','id':'lastNameAm'}}) }} 
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1"> Eye Color</label>

      {{ form_widget(form.eyeColor,{'attr':{'class':'form-control select2','id':'eyeColor'}}) }} 

    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">  Bload group </label>
    

      {{ form_widget(form.bloodGroup,{'attr':{'class':'form-control select2','id':'bloodGroup'}}) }} 

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Pension number </label>
   

      {{ form_widget(form.pentionNumber,{'attr':{'class':'form-control','id':'pentionNumber'}}) }} 
    </div>


        <a href="#" class="btn btn-primary btn-sm  mr-1 float-right" onclick="stepper.next()"> <i class="fa fa-caret-right nav-icon"> </i>  Next</a>
        <a href="#" class="btn btn-primary btn-sm mr-1 float-right" onclick="stepper.previous()"><i class="fa fa-caret-left nav-icon"> </i>  Previous </a>

</div>


<div class="bs-stepper-content">
    <!-- your steps content here -->
      <div id="review" class="content" role="tabpanel" aria-labelledby="review-trigger">

  

    <div class="form-group">
    <label for="exampleInputEmail1"><i class="fa fa-caret-right"> </i> Fist Name: </label>
       Seid

    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> <i class="fa fa-caret-right"> </i> Father Name: </label>
         Mohammed
  
      </div>


        <button type="submit" class="btn btn-primary btn-sm mr-1 float-right"> <i class="fa fa-edit"> </i>   {{ button_label|default('Submit') }}</button> 
        <a href="#" class="btn btn-primary btn-sm  mr-1 float-right" onclick="stepper.previous()"><i class="fa fa-caret-left"> </i> Back </a>

    </div>



  
</div>



      
          <!-- /.card -->
        </div>
        </div>
      </div>
      <!-- /.row -->
      <script src=" {{ asset('assets/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
      <script src=" {{ asset('assets/plugins/jquery-validation/additional-methods.min.js') }}"></script>

      <script>

  
$(function () {
  $.validator.setDefaults({
    submitHandler: function () {
      alert( "Form successful submitted!" );
    }
  });
  $('#form').validate({
    rules: {
      email: {
        required: true,
        email: true,
      },
      phone: {
        required: true,
        minlength: 10
      },
      terms: {
        required: true
      },
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a valid email address"
      },
      phone: {
        required: "Please provide a phone",
        minlength: "Your phone must be at least 10 number long"
      },
      terms: "Please accept our terms"
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
</script>

      {{ form_end(form) }}



