{% extends 'base.html.twig' %}

{% block title %}Employee {% endblock %}

{% block body %}




    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-6">
                <h1> List of employee </h4>
            </div>
            <div class="col-sm-6">
                <a style="float:right;" class="btn btn-outline-primary" href="{{ path('app_employee_new') }}"> <i class="fa fa-plus"> </i> Create new</a>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <hr>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Photo </th>
                <th>Employee Name</th>
              
                <th>Gender</th>
                <th>Age </th>
                <th>Phone</th>
                <th>Working unit </th>
                {# <th>Photo</th>
                <th>BloodGroup</th>
                <th>EyeColor</th> #}
                {# <th>Email</th> #}
                <th>IdNumber</th>
                {# <th>PentionNumber</th>
                <th>CreatedAt</th>
                <th>FirstNameAm</th>
                <th>FatherNameAm</th>
                <th>LastNameAm</th> #}
                {# <th>UpdatedAt</th> #}
                <th>EmployementDate</th>
                 <th>Job title </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{  loop.index }}</td>

             
                     <td> 
                 
                      
                    	<img   width="20px" src="{{ asset('employee_photo')}}/{{employee.photo ? employee.photo: 'user.png'}}" class="img-circle elevation-2">
                     
                    

                  

                        
										
                        
                        </td>
                  

                <td>{{ employee.firstName }} {{ employee.fatherName }} {{ employee.lastName }} </td>
             
               {% set age = date().diff(date(employee.dateOfBirth)).y %}

                <td>{{ employee.gender }}</td>
                <td>{{ age   }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.position.unit ?? '-' }}</td>
                {# <td>{{ employee.photo }}</td>
                <td>{{ employee.bloodGroup }}</td>
                <td>{{ employee.eyeColor }}</td> #}
                {# <td>{{ employee.email }}</td> #}
                <td>{{ employee.idNumber }}</td>
                {# <td>{{ employee.pentionNumber }}</td>
                <td>{{ employee.createdAt ? employee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee.firstNameAm }}</td>
                <td>{{ employee.fatherNameAm }}</td>
                <td>{{ employee.lastNameAm }}</td>
                <td>{{ employee.updatedAt ? employee.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>     {{ employee.employementDate ? employee.employementDate|date("F j, Y") }}  </td>

            


                     <td>{{ employee.position.jobTitle ? employee.position.jobTitle  : '' }}</td>
                <td>
                  

                    <a  class="btn btn-outline-secondary btn-sm" href="{{ path('app_employee_show', {'id': employee.id}) }}"> <i class="fa fa-eye"> </i> Profile</a>
                    <a  class="btn btn-outline-secondary btn-sm" href="{{ path('app_employee_edit', {'id': employee.id}) }}"> <i class="fa fa-edit"> </i> Edit</a>
                    <a  class="btn btn-outline-secondary btn-sm" href="{{ path('app_employee_edit', {'id': employee.id}) }}"> <i class="fa fa-trash"> </i> Delete</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="btn btn-sm float-right" style="margin-right:10px;" id="custompaginator">{{ knp_pagination_render(employees) }}</div>


    <br>


      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <form action="enhanced-results.html">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                        
                            <div class="col-4">
                                <div class="form-group">
                                    <label> Working unit:</label>
                                    <select class="select2" style="width: 100%;">
                                        <option value="" >Select job title </option>
                                        {% for unit in units %}
                                            <option  value="{{ unit.id }}"> {{ unit.name }} </option>
                                        {% endfor %}
                                     
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Job title :</label>
                                    <select class="select2" style="width: 100%;">
                                        <option value=""> Select job title </option>
                                        {% for unit in units %}
                                            <option  value="{{ unit.id }}"> {{ unit.name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label> Employement type:</label>
                                    <select class="select2" style="width: 100%;">
                                        <option value=""> Select job title </option>
                                        {% for unit in units %}
                                            <option  value="{{ unit.id }}"> {{ unit.name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </form>
        
        </div>
    </section>
{% endblock %}

