{% extends 'base.html.twig' %}

{% block title %}Employee {% endblock %}

{% block body %}


    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-6">
                <h1> List of employee </h4>
            </div>
            <div class="col-sm-6">
                <a style="float:right;" class="btn btn-outline-primary" href="{{ path('app_employee_new') }}"> <i class="fa fa-plus"> </i> Create new</a>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <hr>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Employee Name</th>
              
                <th>Gender</th>
                <th> Bierg date</th>
                <th>Phone</th>
                <th>BirthPlace</th>
                {# <th>Photo</th>
                <th>BloodGroup</th>
                <th>EyeColor</th> #}
                {# <th>Email</th> #}
                <th>IdNumber</th>
                {# <th>PentionNumber</th>
                <th>CreatedAt</th>
                <th>FirstNameAm</th>
                <th>FatherNameAm</th>
                <th>LastNameAm</th> #}
                {# <th>UpdatedAt</th> #}
                <th>EmployementDate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{  loop.index }}</td>
                <td>{{ employee.firstName }} {{ employee.fatherName }} {{ employee.lastName }} </td>
             
                <td>{{ employee.gender }}</td>
                <td>{{ employee.dateOfBirth ? employee.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.birthPlace }}</td>
                {# <td>{{ employee.photo }}</td>
                <td>{{ employee.bloodGroup }}</td>
                <td>{{ employee.eyeColor }}</td> #}
                {# <td>{{ employee.email }}</td> #}
                <td>{{ employee.idNumber }}</td>
                {# <td>{{ employee.pentionNumber }}</td>
                <td>{{ employee.createdAt ? employee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee.firstNameAm }}</td>
                <td>{{ employee.fatherNameAm }}</td>
                <td>{{ employee.lastNameAm }}</td>
                <td>{{ employee.updatedAt ? employee.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ employee.employementDate ? employee.employementDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                  

                    <a  class="btn btn-outline-secondary btn-sm" href="{{ path('app_employee_show', {'id': employee.id}) }}"> <i class="fa fa-eye"> </i> Profile</a>
                    <a  class="btn btn-outline-secondary btn-sm" href="{{ path('app_employee_edit', {'id': employee.id}) }}"> <i class="fa fa-edit"> </i> Edit</a>
                    <a  class="btn btn-outline-secondary btn-sm" href="{{ path('app_employee_edit', {'id': employee.id}) }}"> <i class="fa fa-trash"> </i> Delete</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

 
{% endblock %}
