<div class="row">
    <div class="col-12">
      <div class="card card-gray card-outline">
     
          <div class="card-header">
            <h3 class="card-title"> <i class="fa fa-graduation-cap"> </i> Education & Study</h3>
            <div class="card-tools">
              
              <a href="#my-modal1" onclick="event.preventDefault();setAdmissionType('none');" role="button"  data-toggle="modal" class="btn btn-tool">
                <i class="fa fa-plus"></i> Add
              </a>
            </div>
          </div>

        <!-- ./card-header -->
        <div class="card-body">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Education Level </th>
                <th>From</th>
                <th>To</th>
                <th> Instition </th>
                <th>View Certification </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr data-widget="expandable-table" aria-expanded="false">
                <td>1</td>
                <td>Mike Doe</td>
                <td>11-7-2014</td>
                <td>11-7-2014</td>
                <td>Bacon ip</td>
                <td>Uploads</td>
                <td class="text-right py-0 align-middle">
                 
                <div class="btn-group">
                  <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                  <button type="button" class="btn  btn-sm btn-outline-secondary">
                    <i class="far fa-trash-alt"></i> Delete
                  </button>
                

              </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-12">
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title"> <i class="fa fa-flag"> </i> Internal Experience </h3>
                <div class="card-tools">
                <a href="#my-modal2" onclick="event.preventDefault();setAdmissionType('none');" role="button"  data-toggle="modal" class="btn btn-tool">
                    <i class="fa fa-plus"></i> Add
                  </a>
                </div>
              </div>
            <!-- ./card-header -->
            <div class="card-body">
              <table class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Education Level </th>
                    <th>From</th>
                    <th>To</th>
                    <th> Office </th>
                    <th>  Position </th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
              
                  <tr data-widget="expandable-table" aria-expanded="false">
                    <td>1</td>
                    <td> Diploma</td>
                    <td>11-7-2014</td>
                    <td>11-7-2014</td>
                    <td> Finance</td>
                    <td> Accountatnt II</td>

                    <td class="text-right py-0 align-middle">
       
                    <div class="btn-group">

               

                      <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                      
                        <i class="fas fa-edit"></i> Edit
                        
                      </button>
                     
                      <button type="button" class="btn  btn-sm btn-outline-secondary">
                        <i class="far fa-trash-alt"></i> Delete
                      </button>
                    

                  </td>
                  </tr>
             
             
             
              
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->

          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card card-gray card-outline">
           
                  <div class="card-header">
                    <h3 class="card-title"> <i class="fa fa-flag"> </i> External Experience </h3>
                    <div class="card-tools">
               
                      <a href="#my-modal3" onclick="event.preventDefault();setAdmissionType('none');" role="button"  data-toggle="modal" class="btn btn-tool">
                        <i class="fa fa-plus"></i>Add 
                      </a>
                    </div>
                  </div>

  
                <!-- ./card-header -->
                <div class="card-body">
                  <table class="table table-bordered table-hover table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Education Level </th>
                        <th>From</th>
                        <th>To</th>
                        <th>Campany </th>
                        <th> Position  </th>
                        <th> Action </th>
                      </tr>
                    </thead>
                    <tbody>
                  
                 
                   
                      <tr data-widget="expandable-table" aria-expanded="false">
                        <td>1</td>
                        <td>Mike Doe</td>
                        <td>11-7-2014</td>
                        <td>11-7-2014</td>
                        <td> Jimma University </td>
                        <td> System admin II </td>


                        <td class="text-right py-0 align-middle">
     
                        <div class="btn-group">

                   

                          <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                          
                            <i class="fas fa-edit"></i> Edit
                            
                          </button>
                         
                          <button type="button" class="btn  btn-sm btn-outline-secondary">
                            <i class="far fa-trash-alt"></i> Delete
                          </button>
                        

                      </td>
                      </tr>
                 
                 
                 
                  
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
        
           

            <div class="card card-gray card-outline">
           
                  <div class="card-header">
                    <h3 class="card-title"> <i class="fa fa-user"> </i> Emergency Contacts </h3>
                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-link">#04</a>
                
                      <a href="#my-modal4" onclick="event.preventDefault();setAdmissionType('none');" role="button"  data-toggle="modal" class="btn btn-tool">
                        <i class="fa fa-plus"></i> 
                      </a>
                    </div>
                  </div>


                   <!-- ./card-header -->
                <div class="card-body">
                  <table class="table table-bordered table-hover table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name </th>
                        <th> Relation </th>
                        <th> Phone</th>
                        <th> Address </th>
                        <th> Action </th>
                      
                      </tr>
                    </thead>
                    <tbody>
                  
                 
                   
                      <tr data-widget="expandable-table" aria-expanded="false">
                        <td>1</td>
                        <td>Seid MOhammed</td>
                        <td>Spouse </td>
                        <td>0985192541</td>
                        <td>Jimma</td>


                        <td class="text-right py-0 align-middle">
           
                        <div class="btn-group">

                   

                          <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                          
                            <i class="fas fa-edit"></i> Edit
                            
                          </button>
                         
                          <button type="button" class="btn  btn-sm btn-outline-secondary">
                            <i class="far fa-trash-alt"></i> Delete
                          </button>
                        

                      </td>
                     
                      </tr>
                 
                 
                 
                  
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

             <!-- /.row -->
             <div class="row">
                <div class="col-12">
          
                <div class="card card-gray card-outline">
                <div class="card-header">
                  <h3 class="card-title"> <i class="fa fa-users"> </i> Employee Families </h3>
                  <div class="card-tools">
             
                    <a href="#my-modal5" onclick="event.preventDefault();setAdmissionType('none');" role="button"  data-toggle="modal" class="btn btn-tool">
                      <i class="fa fa-plus"></i> 
                    </a>
                  </div>
                </div>

                   
                    <!-- ./card-header -->
                    <div class="card-body">
                      <table class="table table-bordered table-hover table-sm">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name </th>
                            <th>Relationship </th>
                            <th>Dare of birth </th>
                            <th>Gender </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                      
                     
                       
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>1</td>
                            <td>Hamza Seid </td>
                            <td> Child </td>
                            <td>11-7-2014</td>
                       
                            <td>Male</td>

                            <td class="text-right py-0 align-middle">
         
                            <div class="btn-group">

                       

                              <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                              
                                <i class="fas fa-edit"></i> Edit
                                
                              </button>
                             
                              <button type="button" class="btn  btn-sm btn-outline-secondary">
                                <i class="far fa-trash-alt"></i> Delete
                              </button>
                            

                          </td>
                          </tr>
                     
                     
                     
                      
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
              <!-- /.row -->
              



                   <!-- /.row -->
                   <div class="row">
                    <div class="col-12">
                
                <div class="card card-gray card-outline">
                     
                          <div class="card-header">
                            <h3 class="card-title"> <i class="fa fa-globe"> </i> Language Skill </h3>
                            <div class="card-tools">
                              <a href="#my-modal6" onclick="event.preventDefault();setAdmissionType('none');" role="button"  data-toggle="modal" class="btn btn-tool">
                                <i class="fa fa-plus"></i> 
                              </a>
                            </div>
                          </div>

          
                        <!-- ./card-header -->
                        <div class="card-body">
                          <table class="table table-bordered table-hover table-sm">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Langauge </th>
                                <th> Lesting</th>
                                <th> Reading</th>
                                <th> Speaking </th>
                                <th> Writing </th>
                                <th> Action </th>
                              </tr>
                            </thead>
                            <tbody>
                          
                         
                           
                              <tr data-widget="expandable-table" aria-expanded="false">
                                <td>1</td>
                                <td>English </td>
                                <td>Excellent</td>
                                <td>Very good</td>
                                <td> Poor</td>
                                <td> Good </td>


                                <td class="text-right py-0 align-middle">
         
                                  <div class="btn-group">

                             

                                    <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                                    
                                      <i class="fas fa-edit"></i> Edit
                                      
                                    </button>
                                   
                                    <button type="button" class="btn  btn-sm btn-outline-secondary">
                                      <i class="far fa-trash-alt"></i> Delete
                                    </button>
                                  

                                </td>
                              </tr>
                         
                      
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->

        
                    </div>

                    
                  </div>
                  <!-- /.row -->



                  <div class="modal fade" id="my-modal1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Education and study</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


                          <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                            </div> 

                            <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                              </div> 

                              <div class="col-md-12">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control"/>     
                                  </div> 
                            {# <div class="col-md-12">
                                      <label>Emergency Type</label>
                                      <select class="select2 form-control" required name="type" id="selectType" style="width:100%;">
                                        {% for type in types %}
                                          <option value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div> #}
                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                              
                                        
                  <div class="modal fade" id="my-modal2">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Internal Experience </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


                          <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                            </div> 

                            <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                              </div> 

                              <div class="col-md-12">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control"/>     
                                  </div> 
                            {# <div class="col-md-12">
                                      <label>Emergency Type</label>
                                      <select class="select2 form-control" required name="type" id="selectType" style="width:100%;">
                                        {% for type in types %}
                                          <option value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div> #}
                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->


                  <div class="modal fade" id="my-modal3">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add External Experience</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


                          <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                            </div> 

                            <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                              </div> 

                              <div class="col-md-12">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control"/>     
                                  </div> 
                            {# <div class="col-md-12">
                                      <label>Emergency Type</label>
                                      <select class="select2 form-control" required name="type" id="selectType" style="width:100%;">
                                        {% for type in types %}
                                          <option value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div> #}
                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->

                  <div class="modal fade" id="my-modal4">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Emergency Contacts  </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


                          <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                            </div> 

                            <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                              </div> 

                              <div class="col-md-12">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control"/>     
                                  </div> 
                            {# <div class="col-md-12">
                                      <label>Emergency Type</label>
                                      <select class="select2 form-control" required name="type" id="selectType" style="width:100%;">
                                        {% for type in types %}
                                          <option value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div> #}
                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->

                  <div class="modal fade" id="my-modal5">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Employee Familie </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


                          <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                            </div> 

                            <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                              </div> 

                              <div class="col-md-12">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control"/>     
                                  </div> 
                            {# <div class="col-md-12">
                                      <label>Emergency Type</label>
                                      <select class="select2 form-control" required name="type" id="selectType" style="width:100%;">
                                        {% for type in types %}
                                          <option value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div> #}
                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->


                  <div class="modal fade" id="my-modal6">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Language skill </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">


                          <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                            </div> 

                            <div class="col-md-12">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control"/>     
                              </div> 

                              <div class="col-md-12">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control"/>     
                                  </div> 
                            {# <div class="col-md-12">
                                      <label>Emergency Type</label>
                                      <select class="select2 form-control" required name="type" id="selectType" style="width:100%;">
                                        {% for type in types %}
                                          <option value="{{type.id}}">{{type.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div> #}
                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->