<div class="row">
    <div class="col-12">
      <div class="card card-gray card-outline">
     
          <div class="card-header">
            <h3 class="card-title"> <i class="fa fa-graduation-cap"> </i> Education & Study</h3>
            <div class="card-tools">
              
              <a href="#my-modal1" onclick="event.preventDefault();setValue(employee.id);" role="button"  data-toggle="modal" class="btn btn-tool">
                <i class="fa fa-plus"></i> Add
              </a>
            </div>
          </div>
       
        <!-- ./card-header -->
        <div class="card-body">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th> Education Level </th>
                <th> Instition  </th>
                <th> To</th>
                <th> From </th>
                <th> Testimonals </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>

         
              {% for employee_education in employee_educations %}

              <tr data-widget="expandable-table" aria-expanded="false">
                <td>{{  loop.index }}</td>
                <td>{{ employee_education.educationLevel }} </td>
                <td>{{  employee_education.institution }} </td>
                <td> {{ employee_education.startDate ? employee_education.startDate |date('Y:m:d')  : '' }} </td>

                <td> {{ employee_education.endDate ? employee_education.endDate |date('Y:m:d')  : '' }} </td>


                   {% if employee_education.file == null %}
                   <td> -   </td>
                   {% else %}
                   <td> <a  class="radius-round bord1er-2 brc-warning-m1" href="{{ asset('employee_file/'~ employeeEducation.file)}}"> View Upload      </a>    </td>
                  {% endif %} 
                <td class="text-right py-0 align-middle">
                <div class="btn-group">

                  <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                    <i class="fas fa-edit"></i> Edit
                  </button>
               
                
                  {{ include('employee_education/_delete_form.html.twig') }}
              </td>
              </tr>
            {% else %}
              <tr>
                  <td colspan="21">no records found</td>
              </tr>
          {% endfor %}

            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-12">
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title"> <i class="fa fa-flag"> </i> Internal Experience </h3>
                <div class="card-tools">
                <a href="#my-modal2" onclick="event.preventDefault();setValue(employee.id);" role="button"  data-toggle="modal" class="btn btn-tool">
                    <i class="fa fa-plus"></i> Add
                  </a>
                </div>
              </div>
            <!-- ./card-header -->
            <div class="card-body">
              <table class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Job Position </th>
                    <th>From</th>
                    <th>To</th>
                    <th>Office </th>
                    <th>Last salary </th>
                  
                    <th>Action </th>
                  </tr>
                </thead>
                <tbody>


                {% for internal_experience in internal_experiences %}
                  <tr data-widget="expandable-table" aria-expanded="false">
                      <td>{{ loop.index }}</td>
                      <td>{{ internal_experience.jobTitle }}</td>
                      <td>{{ internal_experience.startDate ? internal_experience.startDate|date('Y-m-d') : '' }}</td>
                   
                      <td>{{ internal_experience.createdAt ? internal_experience.createdAt|date('Y-m-d') : '' }}</td>
                      <td>{{ internal_experience.unit }}</td>
                      <td>{{ '-' }}</td>
                      <td class="text-right py-0 align-middle">
       
                      <div class="btn-group">
  
                  
                          <a class="btn  btn-sm btn-outline-secondary  mr-1" href="{{ path('app_internal_experience_show', {'id': internal_experience.id}) }}">      <i class="fas fa-print"></i> Print</a>
                          <a  class="btn  btn-sm btn-outline-secondary  mr-1" href="{{ path('app_internal_experience_edit', {'id': internal_experience.id}) }}">      <i class="fas fa-edit"></i>  Edit</a>
                          {{ include('internal_experience/_delete_form.html.twig') }}
                      </td>
                      </div>
                  </tr>
          


           
             
                {% else %}
                  <tr>
                      <td colspan="5">no records found</td>
                  </tr>
              {% endfor %}
             
              
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->

          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card card-gray card-outline">
           
                  <div class="card-header">
                    <h3 class="card-title"> <i class="fa fa-flag"> </i> External Experience </h3>
                    <div class="card-tools">
               
                      <a href="#my-modal3" onclick="event.preventDefault();setValue(employee.id);" role="button"  data-toggle="modal" class="btn btn-tool">
                        <i class="fa fa-plus"></i>Add 
                      </a>
                    </div>
                  </div>

  
                <!-- ./card-header -->
                <div class="card-body">
                  <table class="table table-bordered table-hover table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Job Title</th>
                        <th>Company Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Clearance</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                            
        {% for external_experience in external_experiences %}
              <tr data-widget="expandable-table" aria-expanded="false">
              <td>{{ loop.index }}</td>
              <td>{{ external_experience.jobTitle }}</td>
              <td>{{ external_experience.companyName }}</td>
              <td>{{ external_experience.startDate ? external_experience.startDate|date('Y-m-d') : '' }}</td>
              <td>{{ external_experience.endDate ? external_experience.endDate|date('Y-m-d') : '' }}</td>
              <td>{{ external_experience.clearance ?? '-' }}</td>
            
              <td class="text-right py-0 align-middle">
                <div class="btn-group">
  
                  <a  class="btn  btn-sm btn-outline-secondary  mr-1" href="{{ path('app_external_experience_show', {'id': external_experience.id}) }}"> <i class="fas fa-print"></i>Print </a>
                  <a  class="btn  btn-sm btn-outline-secondary  mr-1" href="{{ path('app_external_experience_edit', {'id': external_experience.id}) }}"> <i class="fas fa-edit"></i> Edit</a>
                  {{ include('external_experience/_delete_form.html.twig') }}
                  <div>
                  </td>
             </tr>
              {% else %}
                  <tr>
                      <td colspan="7">no records found</td>
                  </tr>
              {% endfor %}

                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
        
           

            <div class="card card-gray card-outline">
           
                  <div class="card-header">
                    <h3 class="card-title"> <i class="fa fa-user"> </i> Emergency Contacts </h3>
                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-link">#04</a>
                
                      <a href="#my-modal4" onclick="event.preventDefault();setValue(employee.id);" role="button"  data-toggle="modal" class="btn btn-tool">
                        <i class="fa fa-plus"></i>  Add
                      </a>
                    </div>
                  </div>


                   <!-- ./card-header -->
                <div class="card-body">
                  <table class="table table-bordered table-hover table-sm">
                    <thead>
                      <tr>
                        <th> #</th>
                        <th> Name </th>
                        <th> Relationship </th>
                        <th> Phone</th>
                      
                        <th> Action </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for emergency_contact in emergency_contacts %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ emergency_contact.firstName }} {{ emergency_contact.lastName }}</td>
                            <td>{{ emergency_contact.relationship }}</td>
                            <td>{{ emergency_contact.phone }}</td>
                            
                          <td class="text-right py-0 align-middle">
                            <div class="btn-group">
                             
                              <a  class="btn  btn-sm btn-outline-secondary  mr-1" href="{{ path('app_emergency_contact_edit', {'id': emergency_contact.id}) }}">  <i class="fas fa-edit"></i> Edit</a>
                              {{ include('emergency_contact/_delete_form.html.twig') }}
                              </div>
                              </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="6">No records found</td>
                      </tr>
                  {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

             <!-- /.row -->
             <div class="row">
                <div class="col-12">
          
                <div class="card card-gray card-outline">
                <div class="card-header">
                  <h3 class="card-title"> <i class="fa fa-users"> </i> Employee Families </h3>
                  <div class="card-tools">
             
                    <a href="#my-modal5" onclick="event.preventDefault();setValue(employee.id);" role="button"  data-toggle="modal" class="btn btn-tool">
                      <i class="fa fa-plus"></i> 
                    </a>
                  </div>
                </div>

                   
                    <!-- ./card-header -->
                    <div class="card-body">
                      <table class="table table-bordered table-hover table-sm">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name </th>
                            <th>Relationship </th>
                            <th>Dare of birth </th>
                            <th>Gender </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                      
                     
                       
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>1</td>
                            <td>Hamza Seid </td>
                            <td> Child </td>
                            <td>11-7-2014</td>
                       
                            <td>Male</td>

                            <td class="text-right py-0 align-middle">
         
                            <div class="btn-group">

                       

                              <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                              
                                <i class="fas fa-edit"></i> Edit
                                
                              </button>
                             
                              <button type="button" class="btn  btn-sm btn-outline-secondary">
                                <i class="far fa-trash-alt"></i> Delete
                              </button>
                            

                          </td>
                          </tr>
                     
                     
                     
                      
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
              <!-- /.row -->
              



                   <!-- /.row -->
                   <div class="row">
                    <div class="col-12">
                
                <div class="card card-gray card-outline">
                     
                          <div class="card-header">
                            <h3 class="card-title"> <i class="fa fa-globe"> </i> Language Skill </h3>
                            <div class="card-tools">
                              <a href="#my-modal6" onclick="event.preventDefault();setValue(employee.id);" role="button"  data-toggle="modal" class="btn btn-tool">
                                <i class="fa fa-plus"></i> 
                              </a>
                            </div>
                          </div>

          
                        <!-- ./card-header -->
                        <div class="card-body">
                          <table class="table table-bordered table-hover table-sm">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Langauge </th>
                                <th> Lesting</th>
                                <th> Reading</th>
                                <th> Speaking </th>
                                <th> Writing </th>
                                <th> Action </th>
                              </tr>
                            </thead>
                            <tbody>
                          
                         
                           
                              <tr data-widget="expandable-table" aria-expanded="false">
                                <td>1</td>
                                <td>English </td>
                                <td>Excellent</td>
                                <td>Very good</td>
                                <td> Poor</td>
                                <td> Good </td>


                                <td class="text-right py-0 align-middle">
         
                                  <div class="btn-group">

                             

                                    <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                                    
                                      <i class="fas fa-edit"></i> Edit
                                      
                                    </button>
                              
                                    {# deleteAdmission({{employee.id}},'{{ path('employee_delete', {'id':employee.id}) }}','{{ csrf_token('delete' ~ employee.id) }}') #}
                                    <a href="btn  btn-sm btn-outline-secondary" onclick="">
                                    <i class="far fa-trash-alt"></i> 
                                    Delete
                                </a>


                                </td>
                              </tr>
                         
                      
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->

        
                    </div>

                    
                  </div>


              

                  <!-- /.row -->
                  <div class="modal fade" id="my-modal1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add education & study for <u> {{employee }} </u></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form action="{{path('add_education')}}" method="POST" class="form">
                          <input type="hidden" required  value="{{employee.id}}" name="employee" class="form-control"/>  
                        <div class="modal-body">

                            <div class="col-md-12">
                              <label>Educational level 
                              </label>
                             
                              <select class="select2 form-control" required  name="education" style="width:100%;">
                                <option value=""> - </option>
                              {% for educationalLevel in educationalLevels %}
                              
                                  <option value="{{educationalLevel.id}}">{{educationalLevel.name}}</option>
                                {% endfor %}
                              </select>
                            </div> 
                             <br/>
                            <div class="col-md-12">
                            <label> Instition: </label>
                            <input type="text" name="institution" required   class="form-control"/>     
                              </div> 
                              <br/>
                              <div class="col-md-12">
                                <label> From : </label>
                                <input type="text"  name="from" required  class="form-control start"  autocomplete="off">    
                               </div> 
                            <br/>
                               <div class="col-md-12">
                                <label>To : </label>
                                <input type="text"  name="to" required   class="form-control end"  autocomplete="off">   
                               </div> 
                               
                               <br/>
                               <div class="col-md-12">
                                <label> Certification </label>
                                <input type="file" name="file"  class="form-control"/>     
                               </div> 
                               <br/>
                               
                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      </form>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                              
                                        
             

                  <div class="modal fade" id="my-modal2">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title">Add Internal Experience for <u> {{employee }} </u> </h6>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form action="{{ path('add_internal_experience') }}" method="POST" class="form">
                          <input type="hidden" required  value="{{ employee.id }}" name="employee" class="form-control"/>  
                     <div class="modal-body">

    
                      <div class="col-md-12">
                        <label>Working unit</label>
                        <select class="select2 form-control" required  name="unit"  style="width:100%;">
                          <option value="">- </option>
                        {% for unit in units %}
                        
                            <option value="{{unit.id}}">{{unit.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <br/>

                      <div class="col-md-12">
                        <label> Position </label>
                        <select class="select2 form-control" required  name="position"  style="width:100%;">
                          <option value="">- </option>
                        {% for jobTitle in  jobTitles %}
                        
                            <option value="{{jobTitle.id}}">{{jobTitle.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <br/>
                       <div class="col-md-12">
                        <label>From </label>
                        <input type="text"  name="from" required   class="form-control start" autocomplete="off">    
                       </div> 
                        <br/>

                        <div class="col-md-12">
                        <label>To </label>
                        <input type="text"  name="to" required   class="form-control end"  autocomplete="off">   
                       </div> 
                        
                        
        
                        </div>
                         

                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                   </div>
                   </form>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                  <div class="modal fade" id="my-modal3">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add External Experience for <u> {{employee }} </u></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                       
                        <form action="{{ path('add_external_experience') }}" method="POST" class="form">
                          <input type="hidden" required  value="{{ employee.id }}" name="employee" class="form-control"/>  
                        <div class="modal-body">

                        <div class="col-md-12">
                          <label> Educational level </label>
                         
                          <select class="select2 form-control" required  name="education"  style="width:100%;">
                            <option value="">- </option>
                          {% for educationalLevel in educationalLevels %}
                          
                              <option value="{{educationalLevel.id}}">{{educationalLevel.name}}</option>
                            {% endfor %}
                          </select>
                        </div> 
                      <br/>
                 
                      <div class="col-md-12">
                        <label>Campany </label>
                        <input type="text"  name="campany"  required class="form-control " autocomplete="off">    
                       </div> 
                        <br/>
                      <div class="col-md-12">
                        <label>Position </label>
                        <input type="text"  name="position" required class="form-control " autocomplete="off">    
                       </div> 
                        
                      <br/>
                       <div class="col-md-12">
                        <label>From </label>
                        <input type="text"  name="from" required class="form-control start" autocomplete="off">    
                       </div> 
                        <br/>

                        <div class="col-md-12">
                        <label>To </label>
                        <input type="text"  name="to" required class="form-control end"  autocomplete="off">   
                       </div> 
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      </form>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->

                  <div class="modal fade" id="my-modal4">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Emergency Contacts for <u> {{employee }} </u> </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form action="{{ path('add_contact') }}" method="POST" class="form">
                          <input type="hidden" required  value="{{ employee.id }}" name="employee" class="form-control"/>  
                        <div class="modal-body">
                           <div class="col-md-12">
                            <label>First Name</label>
                            <input type="text"required  name="fname" class="form-control"/>     
                            </div> 
                            <div class="col-md-12">
                              <label> Last Name</label>
                              <input type="text" name="lname" class="form-control"/>     
                            </div>

                            <div class="col-md-12">
                            <label>Phone</label>
                            <input type="text" name="phone" class="form-control"/>     
                            </div> 
                          <div class="col-md-12">
                            <label>Relationship </label>
                            <select class="select2 form-control" required  name="relation"  style="width:100%;">
                              <option value="">- </option>
                            {% for relation in relations %}
                                <option value="{{relation.id }}">{{ relation.name}}</option>
                              {% endfor %}
                            </select>
                          </div> 
                        <br/>


                              </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                      </div>
                      </form>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->

                  <div class="modal fade" id="my-modal5">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Employee families for <u> {{employee }} </u> </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form action="" method="POST" class="form">
                          <input type="hidden" required  value="{{ employee.id }}" name="employee" class="form-control"/>  
                          <div class="modal-body">
                             <div class="col-md-12">
                              <label>First Name</label>
                              <input type="text"required  name="name" class="form-control"/>     
                              </div> 
                              <div class="col-md-12">
                                <label> Last Name</label>
                                <input type="text" name="name" class="form-control"/>     
                              </div>
  
                              <div class="col-md-12">
                              <label>Phone</label>
                              <input type="text" name="name" class="form-control"/>     
                              </div> 
                            <div class="col-md-12">
                              <label>Relationship </label>
                              <select class="select2 form-control" required  name="education"  style="width:100%;">
                                <option value="">- </option>
                              {% for relation in relations %}
                                  <option value="{{relation.id }}">{{ relation.name}}</option>
                                {% endfor %}
                              </select>
                            </div> 
                          <br/>
  
  
                                </div>
                          <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                        </div>
                        </form>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->


                  <div class="modal fade" id="my-modal6">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Add Language skill for <u> {{employee }} </u> </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {# {{path('app_language_skill_new',{employee:employee.id})}} #}
                        <form action="" method="POST" class="form">
                          <input type="hidden" required  value="{{ employee.id }}" name="employee" class="form-control"/>  
                          <div class="modal-body">


                          <div class="col-md-12">
                            <label>Language </label>
                            <select class="select2 form-control" required  name="education"  style="width:100%;">
                              <option value="">- </option>
                            {% for language in languages %}
                                <option value="{{language.id }}">{{ language.name}}</option>
                              {% endfor %}
                            </select>
                          </div> 
                        <br/>

                        <div class="col-md-12">
                          <label> Reading </label>
                          <select class="select2 form-control" required  name="education"  style="width:100%;">
                            <option value="">- </option>
                     
                              <option value=""> Excellent</option>
                              <option value=""> very good</option>
                              <option value=""> Good</option>
                              <option value=""> Poor</option>
                         
                          </select>
                        </div> 
                      <br/>
                      <div class="col-md-12">
                        <label> Writing </label>
                        <select class="select2 form-control" required  name="education"  style="width:100%;">
                          <option value="">- </option>
                   
                            <option value="">Excellent</option>
                            <option value="">very good</option>
                            <option value="">Good</option>
                            <option value="">Poor</option>
                       
                        </select>
                      </div> 
                    <br/>
                    <div class="col-md-12">
                      <label> Speaking  </label>
                      <select class="select2 form-control" required  name="education"  style="width:100%;">
                        <option value="">- </option>
                 
                          <option value=""> Excellent</option>
                          <option value=""> very good</option>
                          <option value=""> Good</option>
                          <option value=""> Poor</option>
                      </select>
                    </div> 
                  <br/>
                  <div class="col-md-12">
                    <label> Listening  </label>
                    <select class="select2 form-control" required  name="education"  style="width:100%;">
                      <option value="">- </option>
               
                        <option value=""> Excellent</option>
                        <option value=""> very good</option>
                        <option value=""> Good</option>
                        <option value=""> Poor</option>
                    </select>
                  </div> 
                <br/>
               </div>
          <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
            </div>
                        </form>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->

<script>
function deleteAdmission(admissionId, route, token) {
swal.fire({
title: "Are you sure?",
text: "You won't be able to revert this!",
type: "warning",
showCancelButton: true,
confirmButtonText: "Yes, Delete it!"
}).then(function (result) {
if (result.value) {
$.ajax({
type: "POST",
url: route,
data: {
'_token': token
},
dataType: 'json',
success: function (data) {
admissionButton = '\
						<a href="#my-modal" role="button" class=" btn btn-sm btn-primary btn-white btn-round"\
						data-toggle="modal">\
								<i class="ace-icon fa fa-bed bigger-120"></i>\Employee\
							</a>';
                        swal.fire(
                            "Date deleted!",
                            "Data has been deleted.",
                            "success"
                        ).then(function(result){
							location.reload();
						})
                        $('#row_admission_' + admissionId).remove();
                        $('#btn_discharge_' + admissionId).remove();
                        $('#patient_action_toolbar').prepend(admissionButton);
                    },
                    error: function (data) {
                        if (data.status) {
                            swal.fire("Forbidden!", "You can't delete this record!", "error");
                        }
                    }
                });
            }
        });
    }
    </script>