<div class="row">
    <div class="col-12">
      <div class="card card-gray card-outline">
     
          <div class="card-header">
            <h3 class="card-title"> <i class="fa fa-graduation-cap"> </i> Education & Study</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool btn-link">#01</a>
              <a href="{{ path('app_employee_new') }}" class="btn btn-tool">
                <i class="fa fa-plus"></i> 
              </a>
            </div>
          </div>

        <!-- ./card-header -->
        <div class="card-body">
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Education Level </th>
                <th>From</th>
                <th>To</th>
                <th> Instition </th>
                <th>View Certification </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr data-widget="expandable-table" aria-expanded="false">
                <td>1</td>
                <td>Mike Doe</td>
                <td>11-7-2014</td>
                <td>11-7-2014</td>
                <td>Bacon ip</td>
                <td>Uploads</td>
                <td class="text-right py-0 align-middle">
                 
                <div class="btn-group">
                  <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                  <button type="button" class="btn  btn-sm btn-outline-secondary">
                    <i class="far fa-trash-alt"></i> Delete
                  </button>
                

              </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-12">
            <div class="card card-gray card-outline">
              <div class="card-header">
                <h3 class="card-title"> <i class="fa fa-flag"> </i> Internal Experience </h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-link">#02</a>
                  <a href="{{ path('app_employee_new') }}" class="btn btn-tool">
                    <i class="fa fa-plus"></i> 
                  </a>
                </div>
              </div>
            <!-- ./card-header -->
            <div class="card-body">
              <table class="table table-bordered table-hover table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Education Level </th>
                    <th>From</th>
                    <th>To</th>
                    <th> Office </th>
                    <th>  Position </th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
              
                  <tr data-widget="expandable-table" aria-expanded="false">
                    <td>1</td>
                    <td> Diploma</td>
                    <td>11-7-2014</td>
                    <td>11-7-2014</td>
                    <td> Finance</td>
                    <td> Accountatnt II</td>

                    <td class="text-right py-0 align-middle">
       
                    <div class="btn-group">

               

                      <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                      
                        <i class="fas fa-edit"></i> Edit
                        
                      </button>
                     
                      <button type="button" class="btn  btn-sm btn-outline-secondary">
                        <i class="far fa-trash-alt"></i> Delete
                      </button>
                    

                  </td>
                  </tr>
             
             
             
              
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->

          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card card-gray card-outline">
           
                  <div class="card-header">
                    <h3 class="card-title"> <i class="fa fa-flag"> </i> External Experience </h3>
                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-link">#03</a>
                      <a href="{{ path('app_employee_new') }}" class="btn btn-tool">
                        <i class="fa fa-plus"></i> 
                      </a>
                    </div>
                  </div>

  
                <!-- ./card-header -->
                <div class="card-body">
                  <table class="table table-bordered table-hover table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Education Level </th>
                        <th>From</th>
                        <th>To</th>
                        <th>Campany </th>
                        <th> Position  </th>
                        <th> Action </th>
                      </tr>
                    </thead>
                    <tbody>
                  
                 
                   
                      <tr data-widget="expandable-table" aria-expanded="false">
                        <td>1</td>
                        <td>Mike Doe</td>
                        <td>11-7-2014</td>
                        <td>11-7-2014</td>
                        <td> Jimma University </td>
                        <td> System admin II </td>


                        <td class="text-right py-0 align-middle">
     
                        <div class="btn-group">

                   

                          <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                          
                            <i class="fas fa-edit"></i> Edit
                            
                          </button>
                         
                          <button type="button" class="btn  btn-sm btn-outline-secondary">
                            <i class="far fa-trash-alt"></i> Delete
                          </button>
                        

                      </td>
                      </tr>
                 
                 
                 
                  
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
        
           

            <div class="card card-gray card-outline">
           
                  <div class="card-header">
                    <h3 class="card-title"> <i class="fa fa-user"> </i> Emergency Contacts </h3>
                    <div class="card-tools">
                      <a href="#" class="btn btn-tool btn-link">#04</a>
                      <a href="{{ path('app_employee_new') }}" class="btn btn-tool">
                        <i class="fa fa-plus"></i> 
                      </a>
                    </div>
                  </div>


                   <!-- ./card-header -->
                <div class="card-body">
                  <table class="table table-bordered table-hover table-sm">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name </th>
                        <th> Relation </th>
                        <th> Phone</th>
                        <th> Address </th>
                        <th> Action </th>
                      
                      </tr>
                    </thead>
                    <tbody>
                  
                 
                   
                      <tr data-widget="expandable-table" aria-expanded="false">
                        <td>1</td>
                        <td>Seid MOhammed</td>
                        <td>Spouse </td>
                        <td>0985192541</td>
                        <td>Jimma</td>


                        <td class="text-right py-0 align-middle">
           
                        <div class="btn-group">

                   

                          <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                          
                            <i class="fas fa-edit"></i> Edit
                            
                          </button>
                         
                          <button type="button" class="btn  btn-sm btn-outline-secondary">
                            <i class="far fa-trash-alt"></i> Delete
                          </button>
                        

                      </td>
                     
                      </tr>
                 
                 
                 
                  
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

             <!-- /.row -->
             <div class="row">
                <div class="col-12">
          
                <div class="card card-gray card-outline">
                <div class="card-header">
                  <h3 class="card-title"> <i class="fa fa-users"> </i> Employee Families </h3>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-link">#05</a>
                    <a href="{{ path('app_employee_new') }}" class="btn btn-tool">
                      <i class="fa fa-plus"></i> 
                    </a>
                  </div>
                </div>

                   
                    <!-- ./card-header -->
                    <div class="card-body">
                      <table class="table table-bordered table-hover table-sm">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name </th>
                            <th>Relationship </th>
                            <th>Dare of birth </th>
                            <th>Gender </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                      
                     
                       
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>1</td>
                            <td>Hamza Seid </td>
                            <td> Child </td>
                            <td>11-7-2014</td>
                       
                            <td>Male</td>

                            <td class="text-right py-0 align-middle">
         
                            <div class="btn-group">

                       

                              <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                              
                                <i class="fas fa-edit"></i> Edit
                                
                              </button>
                             
                              <button type="button" class="btn  btn-sm btn-outline-secondary">
                                <i class="far fa-trash-alt"></i> Delete
                              </button>
                            

                          </td>
                          </tr>
                     
                     
                     
                      
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
              <!-- /.row -->
              
                   <!-- /.row -->
                   <div class="row">
                    <div class="col-12">
                
                <div class="card card-gray card-outline">
                     
                          <div class="card-header">
                            <h3 class="card-title"> <i class="fa fa-globe"> </i> Language Skill </h3>
                            <div class="card-tools">
                              <a href="#" class="btn btn-tool btn-link">#06</a>
                              <a href="{{ path('app_employee_new') }}" class="btn btn-tool">
                                <i class="fa fa-plus"></i> 
                              </a>
                            </div>
                          </div>

          
                        <!-- ./card-header -->
                        <div class="card-body">
                          <table class="table table-bordered table-hover table-sm">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Education Level </th>
                                <th>From</th>
                                <th>To</th>
                                <th> Instition </th>
                                <th> Certification </th>
                                <th> Action </th>
                              </tr>
                            </thead>
                            <tbody>
                          
                         
                           
                              <tr data-widget="expandable-table" aria-expanded="false">
                                <td>1</td>
                                <td>Mike Doe</td>
                                <td>11-7-2014</td>
                                <td>11-7-2014</td>
                                <td>Bacon ip</td>
                                <td>Uploads</td>


                                <td class="text-right py-0 align-middle">
         
                                  <div class="btn-group">

                             

                                    <button type="button" class="btn  btn-sm btn-outline-secondary  mr-1">
                                    
                                      <i class="fas fa-edit"></i> Edit
                                      
                                    </button>
                                   
                                    <button type="button" class="btn  btn-sm btn-outline-secondary">
                                      <i class="far fa-trash-alt"></i> Delete
                                    </button>
                                  

                                </td>
                              </tr>
                         
                         
                         
                          
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->



        
                    </div>
                  </div>
                  <!-- /.row -->
                  