<div class="row">

<div class=" card col-md-12 mb-2 card card-gray card-outline">

<div class="card-body" style="font-family:inherit; font-size:14px;">
    <div class="row">
    
        <div class="col-md-11">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Employee Name : </b> </label>
                        <label for="">{{ employee.firstName }} {{ employee.fatherName }} {{ employee.lastName }} </label>

                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""> </label>
                      <span> [ {{ employee.firstNameAm ?? '__'  }} {{ employee.fatherNameAm ?? '__'  }} {{ employee.lastNameAm ?? '__'  }}  ]

                        </span> 
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b>Job title : </b></label>
                        <label for=""> {{ employee.position.jobTitle ?? '-' }}  </label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Educational level : </b></label>
                        <label for="">{{ employee.educationallevel ?? '-'}}</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Phone Number : </b></label>
                        <label for="">{{ employee.phone ?? '-'}}  </label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Ethnicity : </b></label>
                        <label for="">{{ employee.ethnicity ?? '-' }}</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Religion : </b></label>
                        <label for="">{{ employee.religion ?? '-'}}</label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Avearge Efficinecy : </b></label>
                        <label for="">{{  '-' }}%</label>
                    </div>

                 

                

                    <div class="d-flex justify-content-between">
                        <label for=""><b>Job grade: </b></label>
                        <label for=""> {{ employee.position.jobTitle.level }} </label>
                    </div>


                    {# <div class="d-flex justify-content-between">
                        <label for=""><b>Horizonat Level: </b></label>
                        <label for="">Start salary </label>
                       {{  '1'}}<sup>st</sup>   
                    </div> #}


                    <div class="d-flex justify-content-between">
                        <label for=""><b> Job code  : </b></label>
                        <label for=""> {{ job_code ?? '-' }} </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Nationality: </b></label>
                        <label for=""> {{ employee.nationality ?? 'Ethiopian'  }} </label>
                    </div>
                    {% set exp = date().diff(date(employee.employementDate)).y %}

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Experience : </b></label>
                        <label for=""
                            title="Hired date: '-'">
                            {{ exp ?? '-' }}
                        </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Pention number: </b></label>
                        <label for=""> {{ employee.pentionNumber ?? '-' }} </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Current Status: </b></label>
                        <label for="" style="color:red;">    {{ employee.employeeCurrentStatus ?? '-'   }}     </label>
                        </div>
                </div>
                <div class="col-md-6" style="border-left:1px solid black;">
                    {% set age = date().diff(date(employee.dateOfBirth)).y %}
                        <div class="d-flex justify-content-between">
                            <label for=""><b>Age : </b></label>
                            <label for=" ">
                           {{ age ?? '-'  }}  years old </label>
                        </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Blood group : </b> </label>
                        <label for="">{{ employee.bloodGroup ?? '-' }}</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Email : </b></label>
                        <label for="">{{ employee.email ?? '-' }} </label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Gender : </b></label>
                        <label for="">{{ employee.gender ?? '-' }} </label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Marital status : </b></label>
                        <label for="">{{employee.martitalStatus}}</label>
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for=""><b>Employee ID Number : </b></label>
                        <label for=""> {{ employee.idNumber ?? '-' }}  </label>
                    </div>
                    <style>
                        #sal {
                            border-bottom: 3px double;
                        }
                    </style>
                    <div class="d-flex justify-content-between">
                        <label for=""><b> Gross Salary : </b></label>
                        <label id="sal" for=""> ETB   {{ salary|number_format(2, '.', ',') }}
                        </label>
                    </div>
                    {% set exp = date().diff(date(employee.employementDate)).y %}
                    <div class="d-flex justify-content-between">
                        <label for=""><b> Employement type : </b></label>
                        <label for=""> {{  employee.employmentType ?? '-' }} </label>
                    </div>


                    <div class="d-flex justify-content-between">
                        <label for=""><b> Employee type : </b></label>
                        <label for=""> {{ employee.employeeCategory ?? '-' }} 
                        </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b>Place of Birth : </b></label>
                        <label for=""> {{ employee.birthPlace  ?? '-' }}  </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Working office : </b></label>
                        <label for=""> {{  employee.position.unit ?? '-' }} </label>
                    </div>



                    <div class="d-flex justify-content-between">
                        <label for=""><b> Field of study : </b></label>
                        <label for=""> {{ employee.fieldOfStudy ?? '-'  }} </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Employee title : </b></label>
                        <label for=""> {{ employee.employeeTitle ?? '-'   }} </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <label for=""><b> Institution of studty: </b></label>
                        <label for=""> {{ employee.institution ?? '-'   }} </label>
                    </div>


               
                 



                </div>
            </div>
        </div>
    </div>


</div>


</div>

</div>