{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <small> Completing profile </small>
    <div class="progress progress-xs">
      <div class="progress-bar bg-success" style="width: 70%">   <span class="badge bg-success">70%</span> </div>
      
    </div>
  

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>FatherName</th>
                <td>{{ employee.fatherName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ employee.dateOfBirth ? employee.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ employee.phone }}</td>
            </tr>
            <tr>
                <th>BirthPlace</th>
                <td>{{ employee.birthPlace }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ employee.photo }}</td>
            </tr>
            <tr>
                <th>BloodGroup</th>
                <td>{{ employee.bloodGroup }}</td>
            </tr>
            <tr>
                <th>EyeColor</th>
                <td>{{ employee.eyeColor }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>IdNumber</th>
                <td>{{ employee.idNumber }}</td>
            </tr>
            <tr>
                <th>PentionNumber</th>
                <td>{{ employee.pentionNumber }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ employee.createdAt ? employee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FirstNameAm</th>
                <td>{{ employee.firstNameAm }}</td>
            </tr>
            <tr>
                <th>FatherNameAm</th>
                <td>{{ employee.fatherNameAm }}</td>
            </tr>
            <tr>
                <th>LastNameAm</th>
                <td>{{ employee.lastNameAm }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ employee.updatedAt ? employee.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EmployementDate</th>
                <td>{{ employee.employementDate ? employee.employementDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table> #}


 
       
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
              
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Employee Profile</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
    
    
    
    
    
    
    
    
    
    
    
    
           <div class="col-md-3">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                 
                    <div class="position-relative">

                           <img   width="20px" src="{{ asset('employee_photo')}}/{{employee.photo ? employee.photo: 'user.png'}}" class="profile-user-img img-fluid img-circle">
                     
                    
                           <div class="ribbon-wrapper ribbon-lg">
                            <div class="ribbon bg-primary text-sm">
                              Employee
                            </div>
                          </div>

                    </div>
                    </div>


    
                    <h3 class="profile-username text-center">{{ employee.firstName }} {{ employee.fatherName }} </h3>
    
                    <p class="text-muted text-center">{{ employee.position.jobTitle ?? '-' }} </p>
    
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        {% set age = date().diff(date(employee.dateOfBirth)).y %}
                        <b> Age : </b> <a class="float-right"> {{ age }} years old </a>
                      </li>
                      <li class="list-group-item">
                        <b>ID Number: </b> <a class="float-right"> {{ employee.idNumber }} </a>
                      </li>
                      <li class="list-group-item">
                        <b>Phone </b> <a class="float-right"> {{ employee.phone}} </a>
                      </li>
                    </ul>
    
                    {# <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> #}
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
    
                <!-- About Me Box -->
              
                <div class="card card-gray">
                  <div class="card-header">
                    <h3 class="card-title"> About Employee </h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i> Education</strong>
    
                    <p class="text-muted">
                      {{ employee.educationallevel ?? '-' }}  in {{  employee.fieldOfStudy ?? '-' }} from  {{  employee.institution ?? '-'  }} 
                    </p>
    
                    <hr>
    
                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Place of birth</strong>
    
                    <p class="text-muted">  {{ employee.birthPlace  ?? '-' }} </p>
    
                    <hr>
    
                    <strong><i class="fas fa-pencil-alt mr-1"></i> Experience </strong>
    
                    <p class="text-muted">
                      {% set exp = date().diff(date(employee.employementDate)).y %}

                      <span class="tag tag-danger"> {{ exp }} years </span>
                      {# <span class="tag tag-success">Coding</span>
                      <span class="tag tag-info">Javascript</span>
                      <span class="tag tag-warning">PHP</span>
                      <span class="tag tag-primary">Node.js</span> #}
                    </p>
    
                    <hr>
    
                    <strong><i class="far fa-file-alt mr-1"></i> Date of Retirement </strong>
                    {% set age = date().diff(date(employee.dateOfBirth)).y %}
                      {% set remaining = 60 - age  %}
                    <p class="text-muted">


                  Aftere  {{  remaining   }} years
                    </p>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->


          <div class="card">
            <div class="card-header">
              <h3 class="card-title">    <i class="fa fa-list"></i>  <b> Other Information </b> </h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a href="#" class="nav-link">
                    <i class="fa fa-dollar-sign"></i> Salary
                    <span class="float-right">12,000</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fa fa-book"></i> Pension Number
                    <span class="float-right"> 100 000</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fa fa-user"></i> Gender
                    <span class="float-right"> Male</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fa fa-envelope"></i> Email
                    <span class="float-right"> seid.seid@ju.edu.et </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fa fa-trash-alt"></i> Blood group
                    <span class="badge bg-warning float-right"> B+ </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fa fa-trash-alt"></i> Eye color
                    <span class="badge bg-warning float-right"> Brown </span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
       </div>
              <!-- /.col -->
    
    
    
    <div class="col-md-9">  
  
              

            <div class="card card-primary card-outline card-outline-tabs">
              <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">

            

                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"> Profile </a>
                  </li>
                
                  <li class="nav-item">
                    <a class="nav-link " id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"> Job Information </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Messages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#custom-tabs-four-settings" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Settings</a>
                  </li>
                </ul>
              </div>


              <div class="card-body">
                 <div class="tab-content" id="custom-tabs-four-tabContent">

                 
                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                              
                         
                  {% include "employee/job_info.html.twig" %}     
        
                       
                 
               </div>

                  <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                  
    
                   
                    {% include "employee/profile.html.twig" %}       
                  </div>

               

   <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
           <form class="form-horizontal">
                          <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="inputName" placeholder="Name">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputName2" placeholder="Name">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                              <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                          </div>
                        </form>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-four-settings" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
              Others
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>

      
  
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    
 

    <a href="{{ path('app_employee_index') }}">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
