{% extends 'base.html.twig' %}

{% block title %}PayrollSetting index{% endblock %}

{% block body %}
   



    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-6">
                <h4>Payroll setting </h4>
            </div>
            <div class="col-sm-6">
                <a style="float:right;" class="btn btn-outline-primary" href="{{ path('app_payroll_setting_new') }}"> <i class="fa fa-plus"> </i> New setting </a>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <hr>


    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Employee Income(ETB) </th>
            
                <th>IncomeTax</th>
                <th>Deduction</th>
                <th>Pension</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payroll_setting in payroll_settings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td> [   {{ payroll_setting.incomeStart |number_format(2, '.', ',') }}  &nbsp; - &nbsp;  {{ payroll_setting.incomeTo |number_format(2, '.', ',') }} ]</td>
              
                <td>{{ payroll_setting.incomeTax }} %</td>
                <td>{{ payroll_setting.deduction }}</td>
                <td>{{ payroll_setting.pension }} %</td>
                <td>
       
                <div class="btn-group">
                
                   <a  class="btn btn-outline-secondary btn-sm mr-1"  href="{{ path('app_payroll_setting_edit', {'id': payroll_setting.id}) }}"><i class="fa fa-edit"></i> Edit  </a>
               
                   {{ include('payroll_setting/_delete_form.html.twig') }}
                  </div>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
