{% extends 'base.html.twig' %}

{% block title %}PayrollSetting{% endblock %}

{% block body %}
    <h1>PayrollSetting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payroll_setting.id }}</td>
            </tr>
            <tr>
                <th>IncomeStart</th>
                <td>{{ payroll_setting.incomeStart }}</td>
            </tr>
            <tr>
                <th>IncomeTo</th>
                <td>{{ payroll_setting.incomeTo }}</td>
            </tr>
            <tr>
                <th>IncomeTax</th>
                <td>{{ payroll_setting.incomeTax }}</td>
            </tr>
            <tr>
                <th>Deduction</th>
                <td>{{ payroll_setting.deduction }}</td>
            </tr>
            <tr>
                <th>Pension</th>
                <td>{{ payroll_setting.pension }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payroll_setting_index') }}">back to list</a>

    <a href="{{ path('app_payroll_setting_edit', {'id': payroll_setting.id}) }}">edit</a>

    {{ include('payroll_setting/_delete_form.html.twig') }}
{% endblock %}
