<li class="nav-item"> 
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-wrench"></i>
      <p>
        Setting
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="{{ path('app_country_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Country </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('app_educational_level_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p>Educational level</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ path('app_employee_category_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p>Employee category</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{{ path('app_employee_title_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p>Employee title </p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{{ path('app_marital_status_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Merital status </p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{{ path('app_employment_status_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p>Employment Status</p>
        </a>
      </li>

   
      <li class="nav-item">
        <a href="{{ path('app_ethnicity_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Ethnicity </p>
        </a>
      </li>



  

      <li class="nav-item">
        <a href="{{ path('app_language_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p>  	language </p>
        </a>
      </li>


      <li class="nav-item">
        <a href="{{ path('app_relationship_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p>  Relationship </p>
        </a>
      </li>


     
      <li class="nav-item">
        <a href="{{ path('app_religion_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Religion </p>
        </a>
      </li>

      <li class="nav-item">
        <a href="{{ path('app_field_of_study_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Field of study </p>
        </a>
      </li>

      
   
    </ul>
  </li>