<li class="nav-item"> 
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-wrench"></i>
      <p>
        Setting
        <i class="fas fa-angle-left right"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">

    <li class="nav-item">
      <a href="{{ path('app_stream_index') }}" class="nav-link">
        <i class="fa fa-caret-right nav-icon"></i>
        <p> Stream </p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{{ path('app_education_index') }}" class="nav-link">
        <i class="fa fa-caret-right nav-icon"></i>
        <p> Education level </p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{{ path('app_field_of_study_index') }}" class="nav-link">
        <i class="fa fa-caret-right nav-icon"></i>
        <p> Field of study </p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{{ path('app_semester_index') }}" class="nav-link">
        <i class="fa fa-caret-right nav-icon"></i>
        <p> Semesters</p>
      </a>
    </li>
    
      <li class="nav-item">
        <a href="{{ path('app_region_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Region </p>
        </a>
      </li>


      <li class="nav-item">
        <a href="{{ path('app_zone_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Zone </p>
        </a>
      </li>


      <li class="nav-item">
        <a href="{{ path('app_woreda_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Woreda </p>
        </a>
      </li>
      

      <li class="nav-item">
        <a href="{{ path('app_country_index') }}" class="nav-link">
          <i class="fa fa-caret-right nav-icon"></i>
          <p> Country </p>
        </a>
      </li>

    
    </ul>
  </li>