{# <aside class="main-sidebar sidebar-white-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link bg-gray bg-gray-light bg-gray bg-gray">
      <img src="{{ asset('assets/logo/ju.png') }}" alt="Logo" class="brand-image  elevation-3" style="opacity: .8">


      <span style="color:white;font-size:15px;"> <b> Human Resource syetem </b> </span>
    </a> #}




    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link bg-gray bg-gray-light bg-gray bg-gray">
        <img src="{{ asset('assets/logo/ju.png') }}" alt="Logo" class="brand-image  elevation-3" style="opacity: .8">

        <span style="color:white;font-size:15px;"> <b> Human Resource syetem </b> </span>
      </a>




    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ asset('assets/dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"> Seid Mohammed</a>
        </div>
      </div>


<hr/>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        
        
     <li class="nav-item">
        
        



          <li class="nav-item">
            <a href="{{ path('app_home')}}" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Home</p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{{ path('app_dashboard')}}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>


      

    
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                User Managment
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_user_index')}}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>User lists</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>User groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>Permissions</p>
                </a>
              </li>
           
            </ul>
          </li>


          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon  fa fa-user-tie"></i>
              <p>
             Employee
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_employee_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>List of employee  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>  Hire Employee </p>
                </a>
              </li>
         
           
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-flag"></i>
              <p>
             Job Information
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>


            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_job_title_category_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Job title category </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_job_title_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> 	Job title </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{{ path('app_level_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> 	Job level </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_employment_type_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>Employment type </p>
                </a>
              </li>
        

              <li class="nav-item">
                <a href="{{ path('app_salary_scale_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>Salary Scale sheet</p>
                </a>
              </li>
         
           
            </ul>
          </li>


          <li class="nav-item">
            <a href="#" class="nav-link">
          
              <i class="nav-icon  fa fa-balance-scale" aria-hidden="true"></i>

              <p>
             Evaluation
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Evalutio category  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>  EValuation creteria </p>
                </a>
              </li>
         
           
            </ul>
          </li>


          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-sitemap"></i>
              <p>
             Office Stracture
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_organization_index') }}" class="nav-link">
              <i class="fa fa-caret-right nav-icon"></i>
              <p>  Organization </p>
            </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_unit_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Organizational  Units </p>
                </a>
              </li>
         
           
            </ul>
          </li>



          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-dollar-sign"></i>
              <p>
             Payroll
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_organization_index') }}" class="nav-link">
              <i class="fa fa-caret-right nav-icon"></i>
              <p>  Payroll </p>
            </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_unit_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Payroll sheet </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{{ path('app_unit_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Payments</p>
                </a>
              </li>
         
           
            </ul>
          </li>


  



          <li class="nav-item">
            <a href="#" class="nav-link">
           

              <i class="nav-icon  fa fa-graduation-cap" aria-hidden="true"></i>

              <p>
            Reciuritement
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Vacancy </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>  Candidteas </p>
                </a>
              </li>
         
           
            </ul>
          </li>




          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-print"></i>
              <p>
             Report
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>Lease </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Residents </p>
                </a>
              </li>
         
           
            </ul>
          </li>


          {% include "menu/setting.html.twig" %}
 
           <i class="fa fa-sign-out"></i>
           <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
         
            <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
              Logout
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>

         
    
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>