{# <aside class="main-sidebar sidebar-white-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link bg-gray bg-gray-light bg-gray bg-gray">
      <img src="{{ asset('assets/logo/ju.png') }}" alt="Logo" class="brand-image  elevation-3" style="opacity: .8">


      <span style="color:white;font-size:15px;"> <b> Human Resource syetem </b> </span>
    </a> #}




    <aside class="main-sidebar sidebar-light-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link bg-gray bg-gray-light bg-gray bg-gray">
        <img src="{{ asset('assets/logo/ju.png') }}" alt="Logo" class="brand-image  elevation-3" style="opacity: .8">

        <span style="color:white;font-size:15px;"> <b> School Managment </b> </span>
      </a>



  


    <!-- Sidebar -->
    <div class="sidebar">
   
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        {# <div class="image">
          <img    width="30px;" src="{{ asset('user_photo')}}/{{app.user.photo ? app.user.photo: 'user.png'}}" class="img-circle elevation-2">
   
        </div>
        <div class="info">
          {% if app.user %}
            <span style="color:white;"> {{ app.user}} <span>
       
            {% endif %}
        </div> #}
      </div>



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        
        
     <li class="nav-item">
        
        



          <li class="nav-item">
            <a href="{{ path('app_home')}}" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Home</p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{{ path('app_dashboard')}}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>


      

    
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-key"></i>
              <p>
                User Managment
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_user_index')}}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>User lists</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_user_group_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>User groups</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_permission_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>Permissions</p>
                </a>
              </li>
           
            </ul>
          </li>


          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon  fas fa-users"></i>
              <p>
             Personnels
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_teachers_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Teachers </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_parents_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>  Parents </p>
                </a>
              </li>
         
              <li class="nav-item">
                <a href="{{ path('app_committee_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>  Committe </p>
                </a>
              </li>
           
            </ul>
          </li>

  
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon  fa fa-user"></i>
              <p>
            Students
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_student_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Student </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Placement </p>
                </a>
              </li>
         
           
            </ul>
          </li>

        

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon  fa fa-graduation-cap"></i>
              <p>
            Acadamics
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('app_grade_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Class </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_section_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>  Section </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_subject_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Subjects </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('app_stream_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Stream </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="{{ path('app_semester_index') }}" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p> Semesters</p>
                </a>
              </li>
           
            </ul>
          </li>




   

  






          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-print"></i>
              <p>
             Report
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fa fa-caret-right nav-icon"></i>
                  <p>Report </p>
                </a>
              </li>
          
           
            </ul>
          </li>


          {% include "menu/setting.html.twig" %}
 
           <i class="fa fa-sign-out"></i>
           <li class="nav-item">
            <a href="pages/widgets.html" class="nav-link">
         
            <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
              Logout
                <span class="right badge badge-danger"></span>
              </p>
            </a>
          </li>

         
    
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>