{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h5 class="m-0">Dashboard</h5>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


       
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ employees |length }} </h3>

                <p>Employee </p>
              </div>
        

              <div class="icon">
                <i class="fa fa-user-tie" aria-hidden="true"></i>
            </div>

              <a href="{{ path('app_employee_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ employees |length }} </h3>
                {# <h3>53<sup style="font-size: 20px">%</sup></h3> #}

                <p>Academic Staff </p>
              </div>
              <div class="icon">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
              <a href="{{ path('app_employee_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ employees |length }}  </h3>

                <p>Admin Staff </p>
              </div>
              <div class="icon">
                <i class="fa fa-flag" aria-hidden="true"></i>
            </div>
              <a href="{{ path('app_employee_index') }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>Total postions 
              </div>
              <div class="icon">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->


            <h5 class="mb-2">User information </h5>
            <div class="row">
              <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-info"><i class="fa fa-users"></i></span>
    
                  <div class="info-box-content">
                   
                    <a href="{{ path('app_user_index') }}"> <span class="info-box-text">Users</span> </a>

                    <span class="info-box-number">{{ users | length }} </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-success"><i class="fa fa-user-minus"></i></span>
    
                  <div class="info-box-content">
                   <a href="{{ path('app_employee_index') }}"> <span class="info-box-text">Employee on leave</span> </a>
                    <span class="info-box-number">{{ employees |length }}   </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-warning"><i class="fa fa-calendar"></i></span>
    
                  <div class="info-box-content">
                
                    <a href="{{ path('app_user_index') }}"> <span class="info-box-text"> Retitements in this year </span> </a>

                    <span class="info-box-number">0</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                  <span class="info-box-icon bg-danger"><i class="fa fa-user-plus"></i></span>
    
                  <div class="info-box-content">
                  

                    <a href="{{ path('app_user_index') }}"> <span class="info-box-text"> New promotions </span> </a>

                    <span class="info-box-number">0</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->


<hr>
               <!-- =========================================================== -->
        <h5 class="mb-2">Job <small><i> Information</i></small></h5>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="fa fa-list"></i></span>

              <div class="info-box-content">
            
                <a href="{{ path('app_user_index') }}"> <span class="info-box-text">  Vacant positions </span> </a>


                <span class="info-box-number"> 66</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="fa fa-male"></i></span>

              <div class="info-box-content">
              
                <a href="{{ path('app_employee_index') }}"> <span class="info-box-text">  Male Employee   </span> </a>
                <span class="info-box-number"> 256</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="fa fa-female"></i></span>

              <div class="info-box-content">
                <a href="{{ path('app_employee_index') }}"> <span class="info-box-text"> Female Employee   </span> </a>

                <span class="info-box-number"> 0 </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="fa fa-dollar-sign"></i></span>

              <div class="info-box-content">
                <a href="{{ path('app_employee_index') }}"> <span class="info-box-text"> Salary paid  </span> </a>


                <span class="info-box-number"> 123,000</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <hr>
               <!-- =========================================================== -->
               <h5 class="mb-2">Employment <small><i> Information</i></small></h5>
               <div class="row">
                 <div class="col-md-3 col-sm-6 col-12">
                   <div class="info-box shadow-lg">
                     <span class="info-box-icon bg-info"><i class="fa fa-user-minus"></i></span>
       
                     <div class="info-box-content">
            
                       <a href="{{ path('app_employee_index') }}"> <span class="info-box-text"> Contract staff  </span> </a>


                       <span class="info-box-number"> 0 </span>
                     </div>
                     <!-- /.info-box-content -->
                   </div>
                   <!-- /.info-box -->
                 </div>
                 <!-- /.col -->
                 <div class="col-md-3 col-sm-6 col-12">
                   <div class="info-box shadow-lg">
                     <span class="info-box-icon bg-success"><i class="fa fa-users"></i></span>
       
                     <div class="info-box-content">   
                       <a href="{{ path('app_employee_index') }}"> <span class="info-box-text"> Permanet staff  </span> </a>


                       <span class="info-box-number"> 256</span>
                     </div>
                     <!-- /.info-box-content -->
                   </div>
                   <!-- /.info-box -->
                 </div>
                 <!-- /.col -->
                 <div class="col-md-3 col-sm-6 col-12">
                   <div class="info-box shadow-lg">
                     <span class="info-box-icon bg-warning"><i class="fa fa-sitemap"></i></span>
       
                     <div class="info-box-content">
                
                       <a href="{{ path('app_employee_index') }}"> <span class="info-box-text"> Units   </span> </a>
                       <span class="info-box-number"> 656 </span>
                     </div>
                     <!-- /.info-box-content -->
                   </div>
                   <!-- /.info-box -->
                 </div>
                 <!-- /.col -->
                 <div class="col-md-3 col-sm-6 col-12">
                   <div class="info-box shadow-lg">
                     <span class="info-box-icon bg-danger"><i class="fa fa-user-minus"></i></span>
       
                     <div class="info-box-content">
                 
                       <a href="{{ path('app_employee_index') }}"> <span class="info-box-text"> This year resignation    </span> </a>
                       <span class="info-box-number"> 2 </span>
                     </div>
                     <!-- /.info-box-content -->
                   </div>
                   <!-- /.info-box -->
                 </div>
                 <!-- /.col -->
               </div>
               <!-- /.row -->
        




        {# <div class="row">
        <div class="col-md-6">
           <!-- PIE CHART -->
           <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Pie Chart</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <canvas id="chartContainer" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card --> #}

          
          </div>

          {# <div class="col-md-6">
            <!-- PIE CHART -->
            <div class="card card-info">
             <div class="card-header">
               <h3 class="card-title">Pie Chart</h3>
 
               <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse">
                   <i class="fas fa-minus"></i>
                 </button>
                 <button type="button" class="btn btn-tool" data-card-widget="remove">
                   <i class="fas fa-times"></i>
                 </button>
               </div>
             </div>
             <div class="card-body">
               <canvas id="" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
             </div>
             <!-- /.card-body -->
           </div>
           <!-- /.card -->
 
           </div> #}
       
          </div>
   

        
{% endblock %}