{% extends 'base.html.twig' %}

{% block title %}Indigent index{% endblock %}

{% block body %}
    <h1>Indigent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for indigent in indigents %}
            <tr>
                <td>{{ indigent.id }}</td>
                <td>{{ indigent.name }}</td>
                <td>
                    <a href="{{ path('app_indigent_show', {'id': indigent.id}) }}">show</a>
                    <a href="{{ path('app_indigent_edit', {'id': indigent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_indigent_new') }}">Create new</a>
{% endblock %}
