{% extends 'base.html.twig' %}

{% block title %}Indigent{% endblock %}

{% block body %}
    <h1>Indigent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ indigent.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ indigent.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_indigent_index') }}">back to list</a>

    <a href="{{ path('app_indigent_edit', {'id': indigent.id}) }}">edit</a>

    {{ include('indigent/_delete_form.html.twig') }}
{% endblock %}
