{% extends 'base.html.twig' %}

{% block title %}EmployeeTitle index{% endblock %}

{% block body %}
    <h1>EmployeeTitle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Accronomy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_title in employee_titles %}
            <tr>
                <td>{{ employee_title.id }}</td>
                <td>{{ employee_title.name }}</td>
                <td>{{ employee_title.accronomy }}</td>
                <td>
                    <a href="{{ path('app_employee_title_show', {'id': employee_title.id}) }}">show</a>
                    <a href="{{ path('app_employee_title_edit', {'id': employee_title.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_title_new') }}">Create new</a>
{% endblock %}
