{% extends 'base.html.twig' %}

  {% block title %}
 User password changing
  {% endblock %}
  {% block stylesheets %}
  
    <style>
  
  
      .image-container {
        position: relative;
  
      }
  
      .image {
        display: block;
  
      }
  
      .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: 0.5s ease;
        opacity: 0;
        color: blue;
        font-size: 20px;
        padding: 20px;
        text-align: center;
      }
  
      .image-container:hover .overlay {
        opacity: 1;
      }
    </style>
  {% endblock %}
  {% block body %}
    <div class="row">
      <div
        class="col-md-4">
  
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
  
  
            <div class="text-center image-container">
  
            <img src="{{ asset('user_photo/user.png') }}"  width="100px;" class="img-circle elevation-2" alt="User Image">
    

{#   
              <img class="profile-user-img image img-fluid img-circle " src="{{ asset('profile')}}/{{user_info.photo ? user_info.photo : 'user.png'}}" alt="User profile picture">
   #}
              <div class="overlay">
                <i class="fa fa-camera d-block" id="btn-upload-photo"></i>
              </div>
  
            </div>
            {# {{ form_start(photoform, { 'attr': { 'role':'form', 'id':'photoform'} }) }}
  
  
            {{ form_widget(photoform.ImageFile) }}
            {{ form_end(photoform) }} #}
            <h3 class="profile-username text-center">{{ user.firstName }}
           
              {{ user.fatherName }}</h3>
  
               <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Gender</b>
                <a class="float-right">{{ user.gender == 'M' ? "Male" : "Female" }}</a>
              </li>
              <li class="list-group-item">
                <b>Age</b>
  
                <a class="float-right">{{ '-' }}</a>
              </li>
              <li class="list-group-item">
                <b>Phone</b>
                <a class="float-right">{{ user.phone ?? '-' }}</a>
              </li>
  
  
              {% if user.email is not null %}
                <li class="list-group-item">
                  <b>Email</b>
                  <a class="float-right">{{ user.email ? user.email : null }}</a>
                </li>
              {% endif %}
  
  
              <li class="list-group-item">
                <b>Role</b>
                <a class="float-right">
  
                  {% for role in user.roles %}
                  {% if role == "rlspad" %}
                  Super Admin
                  
                  
                  
                    {% elseif  role != "ROLE_USER"  or user.roles|length ==1  %}
                      <span class="badge badge-default">{{ role }}
                      </span>
  
                    {% endif %}
  
  
                  {% endfor %}
                </a>
              </li>
              <li class="list-group-item">
                <b> Workin unit</b>
                <a class="float-right">{{ '-' }}</a>
              </li>
            </ul>
  
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
  
      </div>
      <!-- /.col -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#about" data-toggle="tab">About</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="#settings" data-toggle="tab">Settings</a>
              </li>

              {% if not is_granted('print_usr_credntail') %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('user_info_print', {'id':user.id}) }}" >    <i class="fa fa-print "></i> Print Credentail</a>
              </li>
            {% endif %}	
            {% if app.user.id ==  user.id  %}
       
              <li class="nav-item">
                <a class="nav-link"  href="#change_pass"  data-toggle="tab">    <i class="fa fa-lock "></i> Change password</a>
              </li>
       
            {% endif %}	
   


  
  
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="about">
              
                   Hi

              </div>


              <div class="tab-pane" id="change_pass">

         

         
           

              {% if app.user %}
            
                      <form class="d-inline editform" method="POST"  action="{{ path('change_password', {'id':app.user.id}) }}">
                      
                       <div class="form-group">
                         <label>
                           Old Password</label>
                         <input class="form-control" name="oldPassword" required type="password">
                         <div class=" text-success ml-3"></div>
                       </div>
                       <div class="form-group">
                         <label>
                           New Password</label>
                         <input class="form-control" name="newPassword" required type="password">
                         <div class=" text-success ml-3"></div>
                       </div>
                       <div class="form-group">
                         <label>
                           Confirm Password</label>
                         <input class="form-control" name="confirmPassword" required type="password">
                         
                         <div class=" text-success ml-3"></div>
                       </div>
                       <a href="{{ path('app_user_show',{'id': app.user.id}) }}" class="btn btn-info cancel">Cancel</a>
                   
                       <button type="submit" class="btn btn-success">Save Changes</button>
                       </form>
                    
                   {% else  %}
                    <span style="color:red;"> Inactive session! please login again  </span>
                    {% endif %}
   
   
             


                   </div>
  
              <div class="tab-pane" id="settings">
  
       
  
  
                <strong>
                  <i class="fas  mr-1"></i>
                  Last Logged in</strong>
  
                <p class="text-muted ">
  
  
                  <span class="ml-3">
                    {{ user.lastLogin |eth_date }}  at  {{ user.lastLogin | date('h:m') }}
                  </span>
                </p>
                <hr/>
                <div>
                  <strong>
                    <i class="fas fa-user  mr-1"></i>
                    Username</strong>
                  <a href="#" class="float-right btn-tool edit-mr">
                    <i class="fas fa-edit"></i>
                  </a>
  
                  <p class="text-muted p mt-2">
                    {{ user.username }}
                  </p>
  
                  <!-- textarea -->
                  <div class="form-group fg d-none mt-2">
  
                    <form class="d-inline editform" method="post" action="{{ path('edit_user')}}">
                      <div class="form-group">
                        <input class="form-control" name="username" id="username">
                        <div class=" text-success ml-3"></div>
                      </div>
                      <button class="btn btn-success">Save Changes</button>
                      <button class="btn btn-info cancel" type="reset">Cancel</button>
                    </form>
  
  
                  </div>
  
  
                  <hr/>
                </div>
             
                <div>
                  <strong>
                    <i class="fas fa-key  mr-1"></i>
                    Password</strong>
                  <a href="#" class="float-right btn-tool edit-mr">
                    <i class="fas fa-edit"></i>
                  </a>
  
                  <p class="text-muted p mt-2">
                    ***********
                  </p>
  
           
  
  
                  <hr/>
                </div>
                <div>
                  <strong>
                    <i class="fas fa-envelope  mr-1"></i>
                    Email</strong>
                  <a href="#" class="float-right btn-tool edit-mr">
                    <i class="fas fa-edit"></i>
                  </a>
  
                  <p class="text-muted p mt-2">
                    {{ user.email ?? '-' }}
                  </p>
  
                  <!-- textarea -->
                  <div class="form-group fg d-none mt-2">
  
                    <form class="d-inline editform " method="post" action="{{ path('edit_user') }}">
                      <div class="form-group">
                        <input class="form-control" name="email" type="email">
                        <div class=" text-success ml-3"></div>
                      </div>
                      <button class="btn btn-success">Save Changes</button>
                      <button class="btn btn-info cancel" type="reset">Cancel</button>
                    </form>
  
  
                  </div>
  
  
                  <hr/>
                </div>
  
  
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
  
  {% endblock %}
  {% block javascripts %}
    <script>
      $(function () { // Initialize Select2 Elements
  $('.select2').select2()
  });
    </script>
    <script>
  
      $('#btn-upload-photo').click(function () {
  
  $('#form_ImageFile').trigger('click');
  
  })
  $('#form_ImageFile').change(function () {
  $('#photoform').submit()
  })
  
  // on stopping typing
  $('#username').keyup(function () {
  var field = $(this);
  var value = $(this).val();
  
  if (value == null) {
  console.log(field.next())
  return false;
  }
  $.ajax({
  url:"{{ path('check_username') }}",
  method: "GET",
  data: {
  username: value
  },
  dataType: "JSON",
  success: function (response) {
  
  if (! response) {
  
  field.removeClass('is-invalid')
  field.addClass('is-valid')
  return true;
  } else {
  field.removeClass('is-valid')
  field.addClass('is-invalid')
  }
  
  }
  })
  })
  $('.editform').submit(function (e) {
  e.preventDefault();
  var field = $(this);
  var value = $(this).find('input').val();
  var email = $(this).find('input[name="email"]').val();
  var username = $(this).find('input[name="username"]').val();
  var oldPasswordField = $(this).find('input[name="oldPassword"]');
  var oldPassword = oldPasswordField.val();
  var newPassword = $(this).find('input[name="newPassword"]').val();
  var confirmPassword = $(this).find('input[name="confirmPassword"]');
  
  if(newPassword && newPassword.length < 6){
  $(this).find('input[name="newPassword"]').addClass('is-invalid');
  $(this).find('input[name="newPassword"]').next().text("min password length is 6").addClass('text-danger')
  return false;
  }
  if (newPassword && !(newPassword == confirmPassword.val())) {
  confirmPassword.addClass('is-invalid');
  confirmPassword.next().text("Please repeat your new password !!").addClass('text-danger')
  return false;
  
  }
  
  $.ajax({
  url:"{{ path('edit_user') }}",
  method: "POST",
  data: {
  email: email,
  username: username,
  oldPassword: oldPassword,
  newPassword: newPassword
  },
  dataType: "JSON",
  success: function (response) {
  
  if (response.status) {
    if(newPassword)
    value="******";
  field.parent().parent().find('p').text(value).removeClass('d-none').parent().find('a').removeClass('d-none');
  field.parent().addClass('d-none')
  field.parent().find('div').text();
  
  } else {
    if(newPassword){
  oldPasswordField.addClass('is-invalid')
  oldPasswordField.next().text(response.message).addClass('text-danger');
    }
    else {
  field.find('input').addClass('is-invalid')
  field.find('input').next().text(response.message).addClass('text-danger');
    }
  
  }
  
  }
  })
  })
    </script>
    <script>
      $(".edit-mr").click(function (e) {
  e.preventDefault()
  $(".fg").addClass("d-none");
  $(".p").removeClass("d-none");
  $(".edit-mr").removeClass("d-none");
  
  $(this).parent().find("p").addClass("d-none");
  $(this).parent().find(".fg").removeClass("d-none");
  $(this).addClass("d-none");
  });
  $(".cancel").click(function (e) {
  e.preventDefault()
  $(".fg").addClass("d-none");
  $(".p").removeClass("d-none");
  $('.edit-mr').removeClass("d-none");
  });
  $(".edit-fr").click(function (e) {
  e.preventDefault()
  // $(".fr").addClass("d-none");
  // $(".pr").removeClass("d-none");
  $('.submitform').removeClass("d-none");
  $(this).parent().find("p").addClass("d-none");
  $(this).parent().find(".fr").removeClass("d-none");
  $(this).addClass("d-none");
  });
  $(".cancelr").click(function (e) {
  e.preventDefault()
  $(".fr").addClass("d-none");
  $(".submitform").addClass("d-none");
  $(".pr").removeClass("d-none");
  $('.edit-fr').removeClass("d-none");
  });
    </script>
  {% endblock %}
  