{% extends 'base.html.twig' %}

{% block title %} Unit{% endblock %}

{% block body %}
 

    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-1">
            <div class="col-sm-6">
                <h1> List of Organization units </h4>
            </div>
            <div class="col-sm-6">
                <a style="float:right;" class="btn btn-outline-primary" href="{{ path('app_unit_new') }}"> <i class="fa fa-plus"> </i> Create new</a>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    <hr>



    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th> Unit name </th>
                <th>Accountable to </th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit in units %}
            <tr>
                <td>{{ unit.id }}</td>
                <td>{{ unit.name }}</td>
                <td>{{ unit.parentUnit ?? '-' }}</td>
                <td>{{ unit.email }}</td>
                <td>{{ unit.phone }}</td>
                <td>
                    <div class="btn-group">
                   <a   class="btn btn-outline-secondary btn-sm mr-1"  href="{{ path('app_unit_show', {'id': unit.id}) }}"> <i class="fa fa-sitemap"></i> Sub-units</a>
                   <a   class="btn btn-outline-secondary btn-sm mr-1"  href="{{ path('app_unit_show', {'id': unit.id}) }}"><i class="fa fa-users"></i> Employees</a>
                   <a   class="btn btn-outline-secondary btn-sm mr-1"  href="{{ path('app_unit_show', {'id': unit.id}) }}"><i class="fa fa-list"></i> Positions </a>

                    {# <a href="{{ path('app_unit_show', {'id': unit.id}) }}">Show</a> #}
                    <a   class="btn btn-outline-secondary btn-sm mr-1"  href="{{ path('app_unit_edit', {'id': unit.id}) }}"><i class="fa fa-edit"></i> Edit</a>
                     {{ include('unit/_delete_form.html.twig') }} 
                     </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
