{% extends 'base.html.twig' %}

{% block title %}Unit{% endblock %}

{% block body %}
    <h1> Office structure </h1>

<link rel="stylesheet" type="text/css" href="{{ asset('assets/tree.css') }}" />

    <div class="btn-primary"></div>
    <div class="body genealogy-body genealogy-scroll justify-content-center">
        <div class="genealogy-tree">
        </div>
        <div class="genealogy-tree">
            <x-tree-root :children="$units"></x-tree-root>
        </div>
    </div>

    <script src="{{ asset('assets/tree.js') }}" type="text/javascript"></script>




    {# <a href="{{ path('app_unit_index') }}">Back to list</a>

    <a href="{{ path('app_unit_edit', {'id': unit.id}) }}">edit</a> #}

    {# {{ include('unit/_delete_form.html.twig') }} #}
{% endblock %}
