{% extends 'base.html.twig' %}

{% block title %}SalaryScale{% endblock %}

{% block body %}
    <h1>SalaryScale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salary_scale.id }}</td>
            </tr>
            <tr>
                <th>StartSalary</th>
                <td>{{ salary_scale.startSalary }}</td>
            </tr>
            <tr>
                <th>One</th>
                <td>{{ salary_scale.one }}</td>
            </tr>
            <tr>
                <th>Two</th>
                <td>{{ salary_scale.two }}</td>
            </tr>
            <tr>
                <th>Three</th>
                <td>{{ salary_scale.three }}</td>
            </tr>
            <tr>
                <th>Four</th>
                <td>{{ salary_scale.four }}</td>
            </tr>
            <tr>
                <th>Five</th>
                <td>{{ salary_scale.five }}</td>
            </tr>
            <tr>
                <th>Six</th>
                <td>{{ salary_scale.six }}</td>
            </tr>
            <tr>
                <th>Seven</th>
                <td>{{ salary_scale.seven }}</td>
            </tr>
            <tr>
                <th>Eight</th>
                <td>{{ salary_scale.eight }}</td>
            </tr>
            <tr>
                <th>Nine</th>
                <td>{{ salary_scale.nine }}</td>
            </tr>
            <tr>
                <th>CeilSalary</th>
                <td>{{ salary_scale.ceilSalary }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ salary_scale.createdAt ? salary_scale.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ salary_scale.updatedAt ? salary_scale.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_salary_scale_index') }}">back to list</a>

    <a href="{{ path('app_salary_scale_edit', {'id': salary_scale.id}) }}">edit</a>

    {{ include('salary_scale/_delete_form.html.twig') }}
{% endblock %}
